
<c-nav variant="tabs">
    <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink>User Role</a>
    <a  [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>Access Privilege</a>
  </c-nav>
  <c-col xs="12">
    <c-card class="mb-4"> 
  
  <c-tab-content #tabContent="cTabContent">
    <c-tab-pane class="p-3">
        
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify" ></i> Role List
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-7 mb-2">
                      <button [cModalToggle]="verticallyCenteredModal.id" class="btnCreateColor" (click)="reset()" cButton>Create Role</button>

                  </div>
                  <div class="col-sm-5 mb-2">
                    <div class="row">
                      <div class="col-8">
                        <input type="text" class="form-control pull-right" placeholder="Search by Name"/>
                      </div>
                      <div class="col-2">
                        <button type="button" class="btn btn-secondary mr-1 pull-right btn-block" data-toggle="modal" >
                          Search
                      </button>
                      </div>
                      <div class="col-2">
                        <button type="button" class="btn btn-secondary mr-1 pull-right btn-block" data-toggle="modal"  >
                          Reset
                      </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row overflow-auto">
                    <table datatable [dtOptions]="dtOptions[1]" id="DataTables_Table_1"  class="table table-bordered row-border hover" >
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Active</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="roles?.length != 0">
                        <tr *ngFor="let role of roles">
                          <td>{{ role.name }}</td>
                          <td>{{ role.description }}</td>
                          <td>{{ role.isActive }}</td>
                          <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                              <button type="button" class="btn btn-secondary btnSaveColor" (click)="edit(verticallyCenteredModal,role)">
                                Edit
                              </button>
                              <button type="button" class="btn btn-danger btnDeleteColor" (click)="delete(role.id)">
                                Delete
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="roles?.length == 0">
                        <tr>
                          <td colspan="5" class="no-data-available">No data!</td>
                        </tr>
                      </tbody>
                    </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



<form [formGroup]="roleForm" (ngSubmit)="onSubmit(verticallyCenteredModal)" novalidate>
    <c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
      <c-modal-header>
        <h5 cModalTitle *ngIf="!formService.isEdit(this.roleForm.get('id'))">Create User Role</h5>
        <h5 cModalTitle *ngIf="formService.isEdit(this.roleForm.get('id'))">Update User Role</h5>
        <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>
        <div class="col-md-12" >
          <input type="hidden" formControlName="id"/>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name">
              <label for="floatingInput">Name</label>
            </div>


            <div cRow *ngIf="roleForm.get('name')?.invalid &&
            roleForm.get('name')?.errors &&
                  (roleForm.get('name')?.dirty || roleForm.get('name')?.touched)">
              <small class="text-danger"
                  *ngIf="roleForm.get('name').hasError('required')">
                  This field is required.
              </small>
              <small class="text-danger"
                  *ngIf="roleForm.get('name').hasError('minlength')">
                  The minimum length for this field is {{roleForm.get('name').errors.minlength.requiredLength}} characters.
              </small>
              <small class="text-danger"
                  *ngIf="roleForm.get('name').hasError('maxlength')">
                  The maximum length for this field is {{roleForm.get('name').errors.maxlength.requiredLength}} characters.
              </small>
          </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="description" id="description" placeholder="description">
              <label for="floatingInput">Description</label>
            </div>

            <div cRow *ngIf="roleForm.get('description')?.invalid &&
            roleForm.get('description')?.errors &&
                  (roleForm.get('description')?.dirty || roleForm.get('description')?.touched)">
              <small class="text-danger"
                  *ngIf="roleForm.get('description').hasError('required')">
                  This field is required.
              </small>
              <small class="text-danger"
                  *ngIf="roleForm.get('description').hasError('minlength')">
                  The minimum length for this field is {{roleForm.get('description').errors.minlength.requiredLength}} characters.
              </small>
              <small class="text-danger"
                  *ngIf="roleForm.get('description').hasError('maxlength')">
                  The maximum length for this field is {{roleForm.get('description').errors.maxlength.requiredLength}} characters.
              </small>
          </div>

          <c-form-check sizing="xl" switch>
            <input cFormCheckInput checked type="checkbox" formControlName="isActive" id="isActive" checked />
            <label cFormCheckLabel>Active Status</label>
          </c-form-check>

          

        </div>
      </c-modal-body>
      <c-modal-footer>
        <button cButton class="btn btn-primary btnSaveColor me-1" (click)="onSubmit(verticallyCenteredModal)">Save</button>
            <button [cModalToggle]="verticallyCenteredModal.id" cButton class="btn btn-danger btnCancelColor me-1">
              Close
        </button>
      </c-modal-footer>
    </c-modal>
    </form>



    </c-tab-pane>
    <c-tab-pane class="p-3">
      <c-col xs="12"> 
        <c-card class="mb-4">
          <c-card-header>
            <strong>User Role wise Access Privilege</strong>
          </c-card-header>
          <c-card-body>

            <form [formGroup]="privilegeForm">

              <c-row [gutter]="{g: 2}">
              
                <c-col md>
                  <div cFormFloating>
                    <select aria-label="Floating label select example" cSelect id="role"
                      formControlName="role" name="role" (change)="onChangRole($event.target)">
                      <option value="null">Select Role</option>
                      <!-- <option value="1">All</option> -->
                      <option *ngFor="let role of rolesDropdown" [value]="role.id">
                        {{role.name}}
                      </option>
                    </select>
                  </div>
  
                  <!-- <div cRow *ngIf="privilegeForm.get('role')?.invalid &&
                  privilegeForm.get('role')?.errors &&
                        (privilegeForm.get('role')?.dirty || privilegeForm.get('role')?.touched)">
                    <small class="text-danger" *ngIf="countryForm.get('role').hasError('required')">
                      This field is required.
                    </small>
                                
                    
                  </div> -->
                </c-col>
  
  
  
                <c-col md>
                  <div cFormFloating>
                    <select aria-label="Floating label select example" cSelect id="module"
                      formControlName="module" name="module" (change)="onChangModule($event.target)">
                      <option value="null">Select Module</option>
                      <option value="00000000-0000-0000-0000-000000000000">All</option>
                      <option *ngFor="let module of modules" [value]="module.id">
                        {{module.displayName}}
                      </option>
                    </select>
                  </div>
  
                  <!-- <div cRow *ngIf="privilegeForm.get('module')?.invalid &&
                  privilegeForm.get('module')?.errors &&
                        (privilegeForm.get('module')?.dirty || privilegeForm.get('module')?.touched)">
                    <small class="text-danger" *ngIf="countryForm.get('module').hasError('required')">
                      This field is required.
                    </small>
                                
                    
                  </div> -->
                </c-col>
  
              </c-row>
              <c-row>

                <div class="row overflow-auto mt-4" *ngIf="roleSelected">
                  <table datatable id="DataTables_Table_0" [dtOptions]="dtOptions[0]" class="table table-bordered row-border hover" style="width: 100% !important" >
                    <thead>
                      <tr>
                        <th>Module</th>
                        <th>Feature</th>                        
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="userPrivilegeList?.length != 0">
                      <ng-container *ngFor="let privilege of userPrivilegeList">

                        <tr *ngIf="privilege.rowSpan == 2 || privilege.rowSpan == 1">                       
                          <td [attr.rowspan]="privilege.rowSpan">{{ privilege.module.displayName }}</td>                      
                          <td>{{ privilege.feature.displayName }}</td>                         
                          <td>
                            <div>                              
                              <label class = "checkbox-inline" style="margin-left: 10%;"  >
                                <input type = "checkbox" value = "" [checked]="isChecked('view',privilege.module.id,privilege.feature.id)" (change)="onCheckChange($event,'view',privilege.module.id,privilege.feature.id)">View
                             </label>
                             <label class = "checkbox-inline"  style="margin-left: 10%;">
                              <input type="checkbox" value="" [checked]="isChecked('create',privilege.module.id,privilege.feature.id)" (change)="onCheckChange($event,'create',privilege.module.id,privilege.feature.id)">Create
                           </label>
                           <label class = "checkbox-inline"  style="margin-left: 10%;">
                              <input type = "checkbox" value = "" [checked]="isChecked('edit',privilege.module.id,privilege.feature.id)" (change)="onCheckChange($event,'edit',privilege.module.id,privilege.feature.id)">Edit
                           </label>
                           <label class = "checkbox-inline"  style="margin-left: 10%;">
                            <input type = "checkbox" value = "" [checked]="isChecked('delete',privilege.module.id,privilege.feature.id)" (change)="onCheckChange($event,'delete',privilege.module.id,privilege.feature.id)">Delete
                         </label>
                            </div>
                          </td>
                        </tr>                        

                        <tr *ngIf="privilege.rowSpan == -1">
                           <td>{{ privilege.feature.displayName }}</td>                         
                          <td>
                            <div>                            
                              <label class = "checkbox-inline" style="margin-left: 10%;"  >
                                <input type = "checkbox" value = "" [checked]="isChecked('view',privilege.module.id,privilege.feature.id)" (change)="onCheckChange($event,'view',privilege.module.id,privilege.feature.id)">View
                             </label>
                             <label class = "checkbox-inline"  style="margin-left: 10%;">
                              <input type="checkbox" value="" [checked]="isChecked('create',privilege.module.id,privilege.feature.id)" (change)="onCheckChange($event,'create',privilege.module.id,privilege.feature.id)">Create
                           </label>
                           <label class = "checkbox-inline"  style="margin-left: 10%;">
                              <input type = "checkbox" value = "" [checked]="isChecked('edit',privilege.module.id,privilege.feature.id)" (change)="onCheckChange($event,'edit',privilege.module.id,privilege.feature.id)">Edit
                           </label>
                           <label class = "checkbox-inline"  style="margin-left: 10%;">
                            <input type = "checkbox" value = "" [checked]="isChecked('delete',privilege.module.id,privilege.feature.id)" (change)="onCheckChange($event,'delete',privilege.module.id,privilege.feature.id)">Delete
                         </label>
                            </div>
                          </td>
                        </tr>





                      </ng-container>
                    
                    </tbody>
                    <tbody *ngIf="userPrivilegeList?.length == 0">
                      <tr>
                        <td colspan="5" class="no-data-available">No data!</td>
                      </tr>
                    </tbody>
                  </table>
                  <div>
                    <button cButton class="btn btn-primary btnSaveColor me-1" (click)="onAccessPrivilegeSubmit()">Save</button>
                    <button cButton class="btn btn-danger btnCancelColor me-1" (click)="refreshCheckboxSelect()">
                      Cancel
                 </button>
                  </div>
              </div>

              </c-row>
              <c-row>
             
              </c-row>
              </form>



           
          </c-card-body>
        </c-card>
      </c-col>
    </c-tab-pane>
  </c-tab-content>
</c-card>
</c-col>
