<!--sidebar-->
<c-sidebar
  #sidebar1="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  style="background-color: #002e4d;"
  id="sidebar1"
  visible
>
  <c-sidebar-brand
    [brandFull]="{
      src: 'assets/img/brand/asa_logo_rgb_colour_horiz.svg',
      width: 190,
      height: 35,
      alt: 'CoreUI Logo'
    }"
    [brandNarrow]="{
      src: 'assets/img/brand/asa_logo_rgb_colour_horiz.svg',
      width: 46,
      height: 46,
      alt: 'CoreUI Logo'
    }"
    [routerLink]="[]"
  >
  </c-sidebar-brand>

  <perfect-scrollbar [config]="perfectScrollbarConfig">
    <c-sidebar-nav [navItems]="navItems"></c-sidebar-nav>
  </perfect-scrollbar>

  <c-sidebar-toggler
    *ngIf="!sidebar1.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar1"
  ></c-sidebar-toggler>
</c-sidebar>

<!--aside-->
<app-default-aside style="display: none;"></app-default-aside>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar1"></app-default-header>
  <!--app-body-->
  <div class="body flex-grow-1 px-1 p-0">
    <div class="container-fluid">
      <router-outlet></router-outlet>
      <ngx-ui-loader [loaderId]="'loader-dashboard'"></ngx-ui-loader>
    </div>
  </div>
  <!--app footer-->
  <app-default-footer></app-default-footer>
</div>
