<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify" ></i> Audit List
        </div>
        <div class="card-body">
          <form [formGroup]="auditSearchForm">
            <div class="row">
              <div class="row" style="margin: 0 auto;">
                <div class="col-md-6 mb-2">
                  <button [cModalToggle]="verticallyCenteredModal.id" class="btnCreateColor" (click)="reset()" cButton>
                    <svg cIcon name="cilPlus" size="md" title="Add Button Icon"></svg> Create
                  </button> 
                </div>
                <div class="col-md-5 mb-2 form-floating">
                  <input type="text" class="form-control searchInput" formControlName="searchText"  placeholder="Search by Audit Id"/>
                  <label class="searchLevel" for="floatingInput">Search by Audit Id</label>
                </div>
                <div class="col-md-1 mb-2">
                  <button type="button" class="btn btn-secondary mr-1 btn-block searchBtn" data-toggle="modal" (click)="search()" >
                    Search
                  </button>
                </div>
              </div>
            
            </div>
          </form>
          <div class="row overflow-auto">
              <table datatable [dtOptions]="dtOptions" class="table table-bordered row-border hover datatableStyle" >
                <thead>
                  <tr>
                    <th>Audit Id</th>
                    <th>Plan Id</th>
                    <th>Audit Type Name</th>
                    <th>Country</th>
                    <th>Audit Period From</th>
                    <th>Audit Period To</th>
                    <th>CreatedOn</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody *ngIf="audits?.length != 0">
                  <tr *ngFor="let audit of audits">
                    <td>{{ audit.auditId }}</td>
                    <td>{{ audit.planId }}</td>
                    <td>{{ audit.auditTypeName }}</td>
                    <td>{{ audit.countryName }}</td>
                    <td>{{ audit.auditPeriodFrom }}</td>
                    <td>{{ audit.auditPeriodTo }}</td>
                    <td>{{ audit.createdOn | date:'medium' }}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary btnEditColor" (click)="edit(verticallyCenteredModal,audit)">
                          <svg cIcon name="cilPencil" size="md" title="Edit Button icon"></svg>
                        </button>
                        <button type="button" class="btn btn-danger btnDeleteColor" (click)="delete(audit.id)">
                          <svg cIcon name="cilTrash" size="md" title="Delete Button Icon"></svg>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="audits?.length == 0">
                  <tr>
                    <td colspan="5" class="no-data-available">No data!</td>
                  </tr>
                </tbody>
              </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="auditForm" (ngSubmit)="onSubmit(verticallyCenteredModal)" novalidate>
  <c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
    <c-modal-header>
      <h5 cModalTitle *ngIf="!formService.isEdit(this.auditForm.get('id'))">Create Audit</h5>
      <h5 cModalTitle *ngIf="formService.isEdit(this.auditForm.get('id'))">Update Audit</h5>
      <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <div class="col-md-12" >
        <input type="hidden" formControlName="id"/>

            <!-- <div cFormFloating>
              <select aria-label="Floating label select example" cSelect id="emailTypeId"
                formControlName="emailTypeId" name="emailTypeId">
                <option value=null>Select Email Type</option>
                <option *ngFor="let emailType of emailTypes" [value]="emailType.id">
                  {{emailType.name}}
                </option>
              </select>
              <label for="emailTypeId" class="dropdownLabel">Select Email Type</label>
            </div> -->
            <div cRow *ngIf="(auditForm.get('emailTypeId')?.invalid && auditForm.get('emailTypeId')?.errors) &&         
            (auditForm.get('emailTypeId')?.dirty || auditForm.get('emailTypeId')?.touched)">
            <small class="text-danger">
              This field is required.
            </small>                                 
          </div> 
          <br>
          <div cFormFloating>
            <select aria-label="Floating label select example" cSelect id="countryId"
              formControlName="countryId" name="countryId">
              <option value=null>Select Country</option>
              <option *ngFor="let country of countries" [value]="country.id">
                {{country.name}}
              </option>
            </select>
            <label for="countryId" class="dropdownLabel">Select Country</label>
          </div>
          <div cRow *ngIf="(auditForm.get('countryId')?.invalid && auditForm.get('countryId')?.errors) &&         
          (auditForm.get('countryId')?.dirty || auditForm.get('countryId')?.touched)">
          <small class="text-danger">
            This field is required.
          </small>                                 
        </div> 
        <br>

        
      <div class="form-floating">
        <textarea class="form-control" placeholder="Template Subject" formControlName="templateSubject" id="templateSubject"></textarea>
        <label for="floatingTextarea">Template Subject</label>
      </div>
      <div cRow *ngIf="(auditForm.get('templateSubject')?.invalid && auditForm.get('templateSubject')?.errors) &&         
          (auditForm.get('templateSubject')?.dirty || auditForm.get('templateSubject')?.touched)">
          <small class="text-danger">
            This field is required.
          </small>                                 
      </div> 
      <br>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Template Body" formControlName="templateBody" id="templateBody"></textarea>
        <label for="floatingTextarea">Template Body</label>
      </div>
      <div cRow *ngIf="(auditForm.get('templateBody')?.invalid && auditForm.get('templateBody')?.errors) &&         
          (auditForm.get('templateBody')?.dirty || auditForm.get('templateBody')?.touched)">
          <small class="text-danger">
            This field is required.
          </small>                                 
      </div> 
      </div>
    </c-modal-body>
    <c-modal-footer>
      <button cButton class="btn btn-primary btnSaveColor me-1"  (click)="onSubmit(verticallyCenteredModal)">
        <svg cIcon name="cilSave" size="md" title="Save Button Icon"></svg> Save
      </button>
      <button [cModalToggle]="verticallyCenteredModal.id" cButton class="btn btn-danger btnCancelColor me-1">
        <svg cIcon name="cilX" size="md" title="Close Button Icon"></svg> Close
      </button>
    </c-modal-footer>
  </c-modal>
  </form>