<div class="col-md-4 offset-4">
  <c-card>
    <c-card-header>
      <h5 cCardTitle>Change Your Password</h5>
    </c-card-header>
    <c-card-body>
      <form>
        <div [cFormFloating]="true" class="mb-3">
        <input cFormControl id="floatingCurrentPassword" placeholder="Current Password" type="password" autocomplete="off"/>
        <label cLabel for="floatingCurrentPassword">Current Password</label>
        </div>

        <div cFormFloating class="mb-3">
        <input cFormControl id="floatingNewPassword" placeholder="New Password" type="password" autocomplete="off" />
        <label cLabel for="floatingNewPassword">New Password</label>
        </div>

        <div cFormFloating class="mb-3">
          <input cFormControl id="floatingPassword" placeholder="Confirm Password" type="password" autocomplete="off" />
          <label cLabel for="floatingPassword">Confirm Password</label>
          </div>
        </form>
      <button cButton color="light">Change Password</button>
    </c-card-body>
  </c-card>

</div>
