<div class="col-md-4 offset-4">
  <c-card>
    <c-card-header>
      <h5 cCardTitle>Change Your Password</h5>
    </c-card-header>
    <c-card-body>
      <form [formGroup]="changePasswordForm" (submit)="submit()">
        <div [cFormFloating]="true" class="mb-3">
        <input cFormControl id="floatingCurrentPassword" placeholder="Current Password" formControlName="currentPassword" type="password" autocomplete="off"/>
        <label cLabel for="floatingCurrentPassword">Current Password</label>
        <div class="mt-0 mb-2" cRow *ngIf="changePasswordForm.get('currentPassword')?.invalid &&
        changePasswordForm.get('currentPassword')?.errors &&
                      (changePasswordForm.get('currentPassword')?.dirty || changePasswordForm.get('currentPassword')?.touched)">
                  <small class="text-danger"
                      *ngIf="changePasswordForm.get('currentPassword').hasError('required')">
                      This field is required.
                  </small>
                  <small class="text-danger"
                      *ngIf="changePasswordForm.get('currentPassword').hasError('minlength')">
                      The minimum length for this field is {{changePasswordForm.get('currentPassword').errors.minlength.requiredLength}} characters.
                  </small>
              </div>
        </div>

        <div cFormFloating class="mb-3">
        <input cFormControl id="floatingNewPassword" placeholder="New Password" formControlName="newPassword" type="password" autocomplete="off" />
        <label cLabel for="floatingNewPassword">New Password</label>
        <div class="mt-0 mb-2" cRow *ngIf="changePasswordForm.get('newPassword')?.invalid &&
        changePasswordForm.get('newPassword')?.errors &&
                      (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)">
                  <small class="text-danger"
                      *ngIf="changePasswordForm.get('newPassword').hasError('required')">
                      This field is required.
                  </small>
                  <small class="text-danger"
                      *ngIf="changePasswordForm.get('newPassword').hasError('minlength')">
                      The minimum length for this field is {{changePasswordForm.get('newPassword').errors.minlength.requiredLength}} characters.
                  </small>
              </div>
        </div>

        <div cFormFloating class="mb-3">
          <input cFormControl id="floatingPassword" placeholder="Confirm Password" formControlName="confirmPassword" type="password" autocomplete="off" />
          <label cLabel for="floatingPassword">Confirm Password</label>
          <div class="mt-0 mb-2" cRow *ngIf="changePasswordForm.get('confirmPassword')?.invalid &&
          changePasswordForm.get('confirmPassword')?.errors &&
                        (changePasswordForm.get('confirmPassword')?.dirty || changePasswordForm.get('confirmPassword')?.touched)">
                    <small class="text-danger"
                        *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">
                        This field is required.
                    </small>
                    <small class="text-danger"
                        *ngIf="changePasswordForm.get('confirmPassword').hasError('minlength')">
                        The minimum length for this field is {{changePasswordForm.get('confirmPassword').errors.minlength.requiredLength}} characters.
                    </small>
                </div>
          </div>
        </form>
        <!-- <span class="invalid-feedback" *ngIf="changePasswordForm?.errors?.passwordMismatch">
          New password and confirm password is not matched.
        </span> -->
      <button cButton color="light">Change Password</button>
    </c-card-body>
  </c-card>

</div>
