<c-nav variant="tabs">
    <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink>Risk Owner</a>
    <a  [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>Action Owner</a>
    <a  [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="2" cNavLink>Set Date</a>
  </c-nav>
  <c-col xs="12">
    <c-card class="mb-4"> 
  
  <c-tab-content #tabContent="cTabContent">

    <c-tab-pane class="p-3"> 
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <div class="fa fa-align-justify" >Risk Owner List</div> 
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-md-6"> 
                    </div>
                    <div class="col-md-6">
                        <div class="a row">
                            <div class="col-md-6">
                                <button  class="btnUpdateColor"  cButton > Update </button> 
                            </div>
                            <div class="col-md-6">
                                <button [cModalToggle]="verticallyCenteredModal.id" class="btnCreateColor"  cButton (click)="LoadRiskOwner()"> Add </button> 
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row overflow-auto">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered row-border hover datatableStyle" >
                      <thead>
                        <tr>
                          <th>SL</th>
                          <th>Branch Name</th>
                          <th>Risk Owner</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="branches?.length != 0">
                        <tr *ngFor="let branch of branches let i=index" >
                          <td>{{ i+1 }}</td>
                          <td>{{ branch.countryName }}</td>
                          <td>{{ branch.branchName }}</td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="branches?.length == 0">
                        <tr>
                          <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                      </tbody>
                    </table>
      
                </div>
               
              </div>
            </div>
          </div>
        </div>
    </div>
    
    </c-tab-pane>
  
    <form [formGroup]="scheduleConfigForm" (ngSubmit)="onSubmit(verticallyCenteredModal)" novalidate>
        <c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
          <c-modal-header>
            <h5 cModalTitle *ngIf="!formService.isEdit(this.scheduleConfigForm.get('id'))">Add Risk Owner</h5>
            <h5 cModalTitle *ngIf="formService.isEdit(this.scheduleConfigForm.get('id'))">Update Risk Owner</h5>
            <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
          </c-modal-header>
          <c-modal-body>
            <div class="col-lg-12" >
              <input type="hidden" formControlName="id"/>
                <div *ngFor="let branch of branches let i=index" cFormFloating>
                    <div class="form-floating">
                        <div class="row">
                            <div class="col-md-6 form-floating">
                                <input type="hidden" formControlName="branchId" [value]="branch.id"/>
                                <input type="text" class="form-control" formControlName="branchId" [value]="branch.branchName">
                                <label for="floatingInput">Branch Name</label>
                            </div>
                            <div class="col-md-6">
                                <c-col xs="12">
                                    <c-card class="mb-4">
                                      <c-card-header>
                                        <strong>Risk Owner</strong>
                                      </c-card-header>
                                      <c-card-body>
                                        <c-row [gutter]="{g: 2}">
                                          <c-col md>
                                            <c-multi-select multiple formControlName="riskOwnerList" name="riskOwnerList" required>
                                              <c-multi-select-option *ngFor="let user of users" [value]="user.id" >{{user.userName}}
                                              </c-multi-select-option>
                                            </c-multi-select>
                                          </c-col>
                                        </c-row>
                                      </c-card-body>
                                    </c-card>
                                  </c-col>
                            </div>
                        </div>

                    </div>

                  

                </div>
                
              
                     
            </div>
          </c-modal-body>
          <c-modal-footer>
            <button cButton class="btn btn-primary btnSaveColor me-1"  (click)="onSubmit(verticallyCenteredModal)">
              <svg cIcon name="cilSave" size="md" title="Save Button Icon"></svg> Save
            </button>
            <button [cModalToggle]="verticallyCenteredModal.id" cButton class="btn btn-danger btnCancelColor me-1">
              <svg cIcon name="cilX" size="md" title="Close Button Icon"></svg> Close
            </button>
          </c-modal-footer>
        </c-modal>
        </form>
  
    <!-- <c-tab-pane class="p-3"> 
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <div class="fa fa-align-justify" >Action Ower List</div> 
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-md-6"> 
                    </div>
                    <div class="col-md-6">
                        <div class="a row">
                            <div class="col-md-6">
                                <button  class="btnUpdateColor"  cButton > Update </button> 
                            </div>
                            <div class="col-md-6">
                                <button  class="btnCreateColor"  cButton > Add </button> 
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row overflow-auto">
                    <table datatable [dtOptions]="dtOptions" class="table table-bordered row-border hover datatableStyle" >
                      <thead>
                        <tr>
                          <th>SL</th>
                          <th>Branch Name</th>
                          <th>Action Owner</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="branches?.length != 0">
                        <tr *ngFor="let branch of branches let i=index" >
                          <td>{{ i+1 }}</td>
                          <td>{{ branch.countryName }}</td>
                          <td>{{ branch.branchName }}</td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="branches?.length == 0">
                        <tr>
                          <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                      </tbody>
                    </table>
      
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </c-tab-pane>

    <c-tab-pane class="p-3"> 
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <div class="fa fa-align-justify" >Set Date List</div> 
                </div>
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6"> 
                        </div>
                        <div class="col-md-6">
                            <div class="a row">
                                <div class="col-md-6">
                                    <button  class="btnUpdateColor"  cButton > Update </button> 
                                </div>
                                <div class="col-md-6">
                                    <button  class="btnCreateColor"  cButton > Add </button> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row overflow-auto">
                        <table datatable [dtOptions]="dtOptions" class="table table-bordered row-border hover datatableStyle" >
                          <thead>
                            <tr>
                              <th>SL</th>
                              <th>Branch Name</th>
                              <th>Set Date</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="branches?.length != 0">
                            <tr *ngFor="let branch of branches let i=index" >
                              <td>{{ i+1 }}</td>
                              <td>{{ branch.countryName }}</td>
                              <td>{{ branch.branchName }}</td>
                            </tr>
                          </tbody>
                          <tbody *ngIf="branches?.length == 0">
                            <tr>
                              <td colspan="3" class="no-data-available">No data!</td>
                            </tr>
                          </tbody>
                        </table>
          
                    </div>
                   
                  </div>

              </div>
            </div>
          </div>
        </div>
      </c-tab-pane> -->

  </c-tab-content>
