<c-nav variant="tabs">
    <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink>Risk Owner</a>
    <a  [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>Action Owner</a>
    <a  [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="2" cNavLink>Set Date</a>
  </c-nav>
  <c-col xs="12">
    <c-card class="mb-4"> 
  
  <c-tab-content #tabContent="cTabContent">

    <c-tab-pane class="p-3"> 
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <div class="fa fa-align-justify" >Risk Owner List</div> 
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-md-6"> 
                      <button class="btnCreateColor"  cButton (click)="RedirectToScheduleView()">&#8592; Schedule View </button> 
                    </div>
                    <div class="col-md-6">
                        <div class="a row">
                            <div class="col-md-6">
                                <button [cModalToggle]="verticallyCenteredModalRiskOwner.id" class="btnCreateColor"  cButton > Add </button> 
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row overflow-auto">
                    <table datatable [dtOptions]="dtOptions[0]" class="table table-bordered row-border hover datatableStyle" >
                      <thead>
                        <tr>
                          <th>SL</th>
                          <th>Branch Name</th>
                          <th>Risk Owner</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="auditScheduleRiskOwners?.length != 0">
                        <tr *ngFor="let branch of auditScheduleRiskOwners let i=index" >
                          <td>{{ i+1 }}</td>
                          <td>{{ branch.branchName }}</td>
                          <td>{{ branch.userName }}</td>
                          <td>
                            <button type="button" class="btn btn-secondary btnEditColor" (click)="editRiskOwner(verticallyCenteredModalRiskOwner,branch.auditScheduleId)">
                              <svg cIcon name="cilPencil" size="md" title="Edit Button icon"></svg>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="auditScheduleRiskOwners?.length == 0">
                        <tr>
                          <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                      </tbody>
                    </table>
      
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <form [formGroup]="scheduleConfigRiskOwnerForm" (ngSubmit)="onSubmitRiskOwner(verticallyCenteredModalRiskOwner)" novalidate>
      <c-modal #verticallyCenteredModalRiskOwner alignment="center" id="verticallyCenteredModalRiskOwner">
        <c-modal-header>
          <h5 cModalTitle *ngIf="!formService.isEdit(this.scheduleConfigRiskOwnerForm.get('auditScheduleId'))">Add Risk Owner</h5>
          <h5 cModalTitle *ngIf="formService.isEdit(this.scheduleConfigRiskOwnerForm.get('auditScheduleId'))">Update Risk Owner</h5>
          <button [cModalToggle]="verticallyCenteredModalRiskOwner.id" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
          <div class="col-lg-12" >
            <input type="hidden" formControlName="auditScheduleId"/>

                           
             <div cFormFloating>
              <select aria-label="Floating label select example" cSelect id="branchId" formControlName="branchId" name="branchId">
                <option value=null>Select Branch</option>
                <option *ngFor="let branch of scheduledBranch" [value]="branch.branchId">
                  {{branch.branchName}}
                </option>
              </select>
              <label for="branchId" class="dropdownLabel">Branch</label>
            </div>
            <div cRow *ngIf="(scheduleConfigRiskOwnerForm.get('branchId')?.invalid && scheduleConfigRiskOwnerForm.get('branchId')?.errors) &&         
              (scheduleConfigRiskOwnerForm.get('branchId')?.dirty || scheduleConfigRiskOwnerForm.get('branchId')?.touched)">
              <small class="text-danger">
                This field is required.
              </small>                                 
            </div> 
            <br>
            <div class="col-md-12">
                <c-col xs="12">
                    <c-card class="mb-4">
                      <c-card-header>
                        <strong>Risk Owner</strong>
                      </c-card-header>
                      <c-card-body>
                        <c-row [gutter]="{g: 2}">
                          <c-col md>
                            <c-multi-select multiple formControlName="riskOwnerList" name="riskOwnerList" required>
                              <c-multi-select-option *ngFor="let user of users" [value]="user.id" [selected]="isSelectedRiskOwner(user.id)">{{user.userName}}
                              </c-multi-select-option>
                            </c-multi-select>
                          </c-col>
                        </c-row>
                      </c-card-body>
                    </c-card>
                  </c-col>
            </div>
                     
          </div>
        </c-modal-body>
        <c-modal-footer>
          <button cButton class="btn btn-primary btnSaveColor me-1"  (click)="onSubmitRiskOwner(verticallyCenteredModalRiskOwner)">
            <svg cIcon name="cilSave" size="md" title="Save Button Icon"></svg> Save
          </button>
          <button [cModalToggle]="verticallyCenteredModalRiskOwner.id" cButton class="btn btn-danger btnCancelColor me-1">
            <svg cIcon name="cilX" size="md" title="Close Button Icon"></svg> Close
          </button>
        </c-modal-footer>
      </c-modal>
      </form>
    </c-tab-pane>
  

    <c-tab-pane class="p-3"> 
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <div class="fa fa-align-justify" >Action Owner List</div> 
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-md-6"> 
                      <button class="btnCreateColor"  cButton (click)="RedirectToScheduleView()">&#8592; Schedule View </button> 
                    </div>
                    <div class="col-md-6">
                        <div class="a row">
                            
                            <div class="col-md-6">
                                <button [cModalToggle]="verticallyCenteredModalActionOwner.id" class="btnCreateColor"  cButton > Add </button> 
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row overflow-auto">
                    <table datatable [dtOptions]="dtOptions[1]" class="table table-bordered row-border hover datatableStyle" style="width: 100%;">
                      <thead>
                        <tr>
                          <th>SL</th>
                          <th>Branch Name</th>
                          <th>Action Owner</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="auditScheduleActionOwners?.length != 0">
                        <tr *ngFor="let branch of auditScheduleActionOwners let i=index" >
                          <td>{{ i+1 }}</td>
                          <td>{{ branch.branchName }}</td>
                          <td>{{ branch.userName }}</td>
                          <td>
                            <button type="button" class="btn btn-secondary btnEditColor" (click)="editActionOwner(verticallyCenteredModalActionOwner,branch.auditScheduleId)">
                              <svg cIcon name="cilPencil" size="md" title="Edit Button icon"></svg>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="auditScheduleActionOwners?.length == 0">
                        <tr>
                          <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                      </tbody>
                    </table>
      
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <form [formGroup]="scheduleConfigActionOwnerForm" (ngSubmit)="onSubmitActionOwner(verticallyCenteredModalActionOwner)" novalidate>
      <c-modal #verticallyCenteredModalActionOwner alignment="center" id="verticallyCenteredModalActionOwner">
        <c-modal-header>
          <h5 cModalTitle *ngIf="!formService.isEdit(this.scheduleConfigActionOwnerForm.get('auditScheduleId'))">Add Action Owner</h5>
          <h5 cModalTitle *ngIf="formService.isEdit(this.scheduleConfigActionOwnerForm.get('auditScheduleId'))">Update Action Owner</h5>
          <button [cModalToggle]="verticallyCenteredModalActionOwner.id" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
          <div class="col-lg-12" >
            <input type="hidden" formControlName="auditScheduleId"/>

                           
             <div cFormFloating>
              <select aria-label="Floating label select example" cSelect id="branchId" formControlName="branchId" name="branchId">
                <option value=null>Select Branch</option>
                <option *ngFor="let branch of scheduledBranch" [value]="branch.branchId">
                  {{branch.branchName}}
                </option>
              </select>
              <label for="branchId" class="dropdownLabel">Branch</label>
            </div>
            <div cRow *ngIf="(scheduleConfigActionOwnerForm.get('branchId')?.invalid && scheduleConfigActionOwnerForm.get('branchId')?.errors) &&         
              (scheduleConfigActionOwnerForm.get('branchId')?.dirty || scheduleConfigActionOwnerForm.get('branchId')?.touched)">
              <small class="text-danger">
                This field is required.
              </small>                                 
            </div> 
            <br>
            <div class="col-md-12">
                <c-col xs="12">
                    <c-card class="mb-4">
                      <c-card-header>
                        <strong>Action Owner</strong>
                      </c-card-header>
                      <c-card-body>
                        <c-row [gutter]="{g: 2}">
                          <c-col md>
                            <c-multi-select multiple formControlName="actionOwnerList" name="actionOwnerList" required>
                              <c-multi-select-option *ngFor="let user of users" [value]="user.id" [selected]="isSelectedActionOwner(user.id)">{{user.userName}}
                              </c-multi-select-option>
                            </c-multi-select>
                          </c-col>
                        </c-row>
                      </c-card-body>
                    </c-card>
                  </c-col>
            </div>
            
                   
          </div>
        </c-modal-body>
        <c-modal-footer>
          <button cButton class="btn btn-primary btnSaveColor me-1"  (click)="onSubmitActionOwner(verticallyCenteredModalActionOwner)">
            <svg cIcon name="cilSave" size="md" title="Save Button Icon"></svg> Save
          </button>
          <button [cModalToggle]="verticallyCenteredModalActionOwner.id" cButton class="btn btn-danger btnCancelColor me-1">
            <svg cIcon name="cilX" size="md" title="Close Button Icon"></svg> Close
          </button>
        </c-modal-footer>
      </c-modal>
      </form>
    </c-tab-pane>
    
    <c-tab-pane class="p-3"> 
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <div class="fa fa-align-justify" >Set Date</div> 
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-md-6"> 
                      <button class="btnCreateColor"  cButton (click)="RedirectToScheduleView()">&#8592; Schedule View </button> 
                    </div>
                    <div class="col-md-6">
                      <div class="a btn-group" role="group" aria-label="Basic example">
                      
                      </div>
                        
                    </div>
                    
                </div>
                
                <br>
                <br>
                <form [formGroup]="scheduleConfigSetDateForm">
                  <div class="row overflow-auto">
                    <table datatable [dtOptions]="dtOptions[2]" class="table table-bordered row-border hover datatableStyle" style="width: 100%;">
                      <thead>
                        <tr>
                          <th>SL</th>
                          <th>MileStone</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="brancheWithActionOwner?.length != 0">
                        <tr *ngFor="let branch of brancheWithActionOwner let i=index">
                          <td>{{ i+1 }}</td>
                          <td>{{ branch.countryName }}</td>
                          <td>
                            <input type="date"   class="form-control" style="max-width: 200px;"  >
                          </td>
                         
                         
                        </tr>
                      </tbody>
                      <tbody *ngIf="brancheWithActionOwner?.length == 0">
                        <tr>
                          <td colspan="5" class="no-data-available">No data!</td>
                        </tr>
                      </tbody>
                    </table>
                    <div>
                      <c-col xs="12">
                        <c-col md>
                          <button cButton class="btn btn-primary btnSaveColor me-1" (click)="onSubmit()">
                            <svg cIcon name="cilSave" size="md" title="Save Button Icon"></svg> Save
                          </button>
                          <button cButton class="btn btn-danger btnCancelColor me-1" (click)="onCancel()">
                            <svg cIcon name="cilX" size="md" title="Close Button Icon"></svg>Cancel
                          </button>
              
                        </c-col>
                      </c-col>
                    </div>
                </div>
                </form>
               
               
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </c-tab-pane>
       

  </c-tab-content>
