<c-col xs="12">
    <div class="container">
        <c-card class="mb-4">
            <c-card-header>
                <strong>View a Plan</strong>
            </c-card-header>
            <c-card-body>
                <form [formGroup]="auditPlanViewForm">
                    <c-row [gutter]="{g: 2}">
                        <c-col md>
                            <div cFormFloating>
                                <input type="text" class="form-control" formControlName="planningId" name="planningId"
                                    id="planningId" placeholder="planningId" value="">
                                <label cLabel for="planningId">Planning Id</label>
                            </div>
                        </c-col>
                        <c-col md>
                            <div cFormFloating>
                                <input type="date" class="form-control" formControlName="assessmentFrom"
                                    name="assessmentFrom" id="assessmentFrom" placeholder="Assessment From">
                                <label cLabel for="assessmentFrom">Assessment From</label>
                            </div>
                        </c-col>
                    </c-row>
                    <br>
                    <c-row [gutter]="{g: 2}">
                        <c-col md>
                            <div cFormFloating>
                                <select aria-label="Floating label select example" cSelect id="auditType"
                                  formControlName="auditType" name="auditType">
                                  <option *ngIf="auditPlanResponse?.auditTypeName != null" value="auditPlanResponse.auditTypeName">
                                    {{auditPlanResponse.auditTypeName}}
                                  </option>
                                </select>
                                <label for="auditType" class="dropdownLabel">Audit Type</label>
                              </div>
                        </c-col>
                        <c-col md>
                            <div cFormFloating>
                                <input type="date" class="form-control" formControlName="assessmentTo"
                                    name="assessmentTo" id="assessmentTo" placeholder="Assessment To">
                                <label cLabel for="assessmentTo">Assessment To</label>
                            </div>
                        </c-col>
                    </c-row>
                    <br>
                    <c-row [gutter]="{g: 2}">
                        <c-col md>
                            <div cFormFloating>
                                <select aria-label="Floating label select example" cSelect id="planningYear"
                                  formControlName="planningYear" name="planningYear">
                                  <option *ngIf="auditPlanResponse?.planningYear != null" value="auditPlanResponse.planningYear">
                                    {{auditPlanResponse?.planningYear}}
                                  </option>
                                </select>
                                <label for="planningYear" class="dropdownLabel">Planning Year</label>
                              </div>
                        </c-col>
                        <c-col md>
                            <div cFormFloating>
                                <input type="date" class="form-control" formControlName="createdAt"
                                    name="createdAt" id="createdAt" placeholder="CreatedAt AT">
                                <label cLabel for="assessmentTo">Assessment To</label>
                            </div>
                        </c-col>
                    </c-row>
                    <br>
                    <c-row [gutter]="{g: 2}">
                        <c-col md>
                            <div cFormFloating>
                                <select aria-label="Floating label select example" cSelect id="assesmentId"
                                  formControlName="assesmentId" name="assesmentId">
                                  <option *ngIf="auditPlanResponse?.assessmentCode != null" value="auditPlanResponse.assessmentCode">
                                    {{auditPlanResponse?.assessmentCode}}
                                  </option>
                                </select>
                                <label for="assesmentId" class="dropdownLabel">Assesment Id</label>
                              </div>
                        </c-col>
                        <c-col md>
                            <div cFormFloating>
                                <input type="text" class="form-control" formControlName="countryName"
                                    name="countryName" id="countryName" placeholder="Country Name">
                                <label cLabel for="countryName">Country</label>
                            </div>
                        </c-col>
                    </c-row>
                    <br>
                    <c-row [gutter]="{g: 2}">
                        <c-col md>
                            <div cFormFloating>
                                <input type="text" class="form-control" formControlName="createdBy"
                                    name="createdBy" id="createdBy" placeholder="Created By">
                                <label cLabel for="createdBy">Created By</label>
                            </div>
                        </c-col>
                    </c-row>
                </form>
            </c-card-body>
        </c-card>
    </div>
    <div class="container">
        <div class="row overflow-auto">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover datatableStyle"
                id="mytable" style="width: 100%;">
                <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>Branch Name</th>
                        <th>Risk Rating</th>
                        <th>Audit Frequency</th>
                        <!-- <th>Active</th> -->

                    </tr>
                </thead>
                <tbody *ngIf="auditPlanTableData?.length != 0">
                    <tr *ngFor="let auditPlan of auditPlanTableData; let i = index">
                        <td> {{i+1}}</td>
                        <td> {{ auditPlan.branchName }} </td>
                        <td> {{ auditPlan.avg_Rating }} </td>
                        <td> {{ auditPlan.avg_Score }} </td>
                        <!-- <td> {{ documentList.score }} </td> -->
                    </tr>
                </tbody>
                <tbody *ngIf="auditPlanTableData?.length == 0">
                    <tr>
                        <td colspan="5" class="no-data-available">No data available!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</c-col>`