.btnCancelColor{
    background-color: #666666b6;
    color: white;
    min-width: 80px;
 }

 .btnSaveColor{
     background-color: #3b6998d7;
     color: white;
     min-width: 80px;
  }
.inline-textbox {
    width: 50px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    border-bottom: 1px solid #3b6998d7;
  }
  
.form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: fit-content;
  }
  
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  .form-inline input {
    vertical-align: middle;
    height: 30px;
    width: 60px;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
//   .form-inline button {
//     padding: 10px 20px;
//     background-color: dodgerblue;
//     border: 1px solid #ddd;
//     color: white;
//     cursor: pointer;
//   }
  
//   .form-inline button:hover {
//     background-color: royalblue;
//   }
  
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }