<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <strong>Access Privilege Configuration</strong>
    </c-card-header>

    <c-card-body>
      <form [formGroup]="accessPrivilegeForm" (ngSubmit)="onSubmit()" novalidate>
            
        <c-col xs="12">
          <c-card class="mb-4">
            <c-card-header style="color: #3b6998d7;" >
              <strong>Password Parameters</strong>
            </c-card-header>
            <c-card-body>
              
              <c-card class="mb-4">
                  <c-card-header>
                    <strong> Password Length: </strong>
                  </c-card-header>
                  <c-card-body class="form-inline" >
                                          
                    <label for="minLength"> Minimum:</label>
                    <input id="minLength" type="number" min="1" formControlName="minLength" name="minLength"  (keyup)="numberOnly($event,'minLength')" (keydown)="numberOnly($event, 'minLength')">                    
                    <label for="maxLength">Maximum:</label>
                    <input id="maxLength" type="number" min="1" formControlName="maxLength" name="maxLength" (keyup)="numberOnly($event,'maxLength')" (keydown)="numberOnly($event, 'maxLength')">
                    <div>
                    <div cRow *ngIf="accessPrivilegeForm.get('minLength')?.invalid && accessPrivilegeForm.get('minLength')?.errors &&
                          (accessPrivilegeForm.get('minLength')?.dirty || accessPrivilegeForm.get('minLength')?.touched)">
                      <small class="text-danger" *ngIf="accessPrivilegeForm.get('minLength').hasError('required')">
                        Minimum Length is required.
                      </small>                                 
                    </div>
                    <div cRow *ngIf="accessPrivilegeForm.get('maxLength')?.invalid && accessPrivilegeForm.get('maxLength')?.errors &&
                          (accessPrivilegeForm.get('maxLength')?.dirty || accessPrivilegeForm.get('maxLength')?.touched)">
                      <small class="text-danger" *ngIf="accessPrivilegeForm.get('maxLength').hasError('required')">
                        Maximum Length is required.
                      </small>                                 
                    </div>
                    </div>
                  </c-card-body>
              </c-card>
              
              <c-col xs="12">
                <c-card class="mb-4">
                  <c-card-header>
                    <strong>Combination Of Password:</strong>  
                  </c-card-header>
                  <c-card-body >
                    <c-row><c-form-check>
                      <!-- <span class="form-inline"> -->
                      <c-row><c-col>                                  
                        <input type="checkbox" name="cbAlphabet" formControlName="isAlphabetMandatory" (change)="true" #cbAlphabet>                              
                        <label for="cbAlphabet" class="m-1">Alphabet</label>
                        <span *ngIf="cbAlphabet.checked" >
                        <label for="maxAlphabet" class="m-1">: Maximum Letters </label>
                        <input type="number" min="1" name="maxAlphabet" formControlName="alphabetLength" class='inline-textbox' (keyup)="numberOnly($event,'alphabetLength')" (keydown)="numberOnly($event, 'alphabetLength')">                              
                        <span class="text-danger"> * </span>
                        
                        </span>                              
                      </c-col></c-row> 
                      
                      <c-row><c-col>
                        <input type="checkbox" name="cbNumeric" formControlName='isNumberMandatory' (change)="true" #cbNumeric>
                        <label for="cbNumeric" class="m-1">Numeric</label>
                        <span *ngIf="cbNumeric.checked">
                        <label for="maxNumber" class="m-1">: Maximum Numbers </label>
                        <input type="number" min="1" name="maxNumber" onclick="" formControlName="numericLength" class='inline-textbox' (keyup)="numberOnly($event,'numericLength')" (keydown)="numberOnly($event, 'numericLength')">
                        <span class="text-danger"> * </span>
                        </span>
                      </c-col></c-row>
                      
                      <c-row><c-col>
                        <input type="checkbox" name="cbSpecialChar" value="specialChar" formControlName="isSpecialCharsMandatory" (change)="true" #cbSpecialChar>
                        <label for="cbSpecialChar" class="m-1">Special Character</label>
                        <span *ngIf="cbSpecialChar.checked">
                        <label for="maxNumber" class="m-1">: Maximum Special Characters </label>
                        <input type="number" min="1" name="maxNumber" onclick="" formControlName="specialCharsLength" class='inline-textbox' (keyup)="numberOnly($event,'specialCharsLength')" (keydown)="numberOnly($event, 'specialCharsLength')">
                        <span class="text-danger"> * </span>
                        </span>
                      </c-col></c-row>

                    </c-form-check></c-row>            
                  </c-card-body>
                </c-card>
              </c-col>           
            </c-card-body>
          </c-card>
        </c-col>
            
        <c-col xs="12">
          <c-card class="mb-4">
            <c-card-header style="color: #3b6998d7;">
              <strong>Temporary User Locked For</strong>
            </c-card-header>
            <c-card-body >
              <c-row><c-form-check>
                <input type="checkbox" name="cbNoLogin" formControlName="isLockedOnNoLoginActivity" (change)="true" #cbNoLogin>
                <label for="cbNoLogin" class="m-1" >No login for 
                  <input type="number" min="1" id="noLoginDays" name="noLoginDays" class="inline-textbox" formControlName="noLoginActivityDays" (keypress)="numberOnly($event)">
                  days (for this case account will be unlocked through authorized person)
                </label><br>
                
                <input type="checkbox" name="cbFailedLogin" formControlName="isLockedOnFailedLoginAttempts" (change)="true" #cbFailedLogin>
                <label for="cbFailedLogin" class="m-1" >
                  Failed Login for 
                  <input type="number" min="1" id="numberOfFailedLoginAttempts" name="numberOfFailedLoginAttempts" class="inline-textbox" formControlName="numberOfFailedLoginAttempts" (keypress)="numberOnly($event)">
                  times within
                  <input type="number" min="1" id="failedLoginAttemptsDuration" name="failedLoginAttemptsDuration" class="inline-textbox" formControlName="failedLoginAttemptsDuration" (keypress)="numberOnly($event)">
                  minutes. Later user will be locked for next
                  <input type="number" min="1" id="failedLoginLockedDuration" name="failedLoginLockedDuration" class="inline-textbox" formControlName="failedLoginLockedDuration" (keypress)="numberOnly($event)">
                  hours.                      
                </label><br>

                <input type="checkbox" name="cbUnlocking" formControlName="isUnlockedOnByAdmin" (change)="true" #cbUnlocking>
                <label for="cbUnlocking" class="m-1"> 
                  Unlock Account
                  <input type="number" min="1" id="unlockedByAdminDuration" name="unlockedByAdminDuration" class="inline-textbox" formControlName="unlockedOnByAdminDuration" (keypress)="numberOnly($event)">
                  minutes later (only applicable when user failed to login within configured time by configured number of attempt)
                </label>
              </c-form-check></c-row>
            </c-card-body>
          </c-card>
        </c-col>
            
        <c-col xs="12">
          <c-card class="mb-4">
            <c-card-header style="color: #3b6998d7;"><strong>
              Forced Password Changed On
            </strong></c-card-header>
            <c-card-body >
              <c-row><c-form-check name="forcePasswordChange">
                
                <input type="checkbox" name="cbFirstLogin" formControlName="isPasswordChangeForcedOnFirstLogin" (change)="true" #cbFirstLogin>
                <label for="cbFirstLogin" class="m-1">First Time Login </label><br>
                
                <input type="checkbox" name="cbForceReset" formControlName="isPasswordResetForcedPeriodically" (change)="true" #cbForceReset>
                <label for="cbForceReset" class="m-1" >
                  Force Reset After
                  <input type="number" min="1" id="forcePasswordResetDays" name="forcePasswordResetDays" class="inline-textbox" formControlName="forcePasswordResetDays">
                  days. Notify user prior
                  <input type="number" min="1" id="notifyPasswordResetDays" name="notifyPasswordResetDays" class="inline-textbox" formControlName="notifyPasswordResetDays">
                  days.                                          
                </label><br>                      
              </c-form-check></c-row>
            </c-card-body>
          </c-card>
        </c-col>
            
        <c-col xs="12">
          <c-card class="mb-4">
            <c-card-header style="color: #3b6998d7;"><strong>
              User Session Timeout
            </strong></c-card-header>
            <c-card-body>
              <input type="checkbox" name="cbSessionPolicy" formControlName="sessionPolicy_isEnabled" (change)="true" #cbSessionPolicy>
              <label for="cbSessionPolicy" class="m-1">Duration </label>
              <input type="number" min="1" id="sessionDuration" name="sessionDuration" class="inline-textbox" formControlName="sessionPolicy_duration">
              minutes.
            </c-card-body>
          </c-card>
        </c-col>
        <br>
        <c-col xs="12">
          <c-col md>
            <button cButton class="btn btn-primary btnSaveColor me-1" (click)="onSubmit()">
              <svg cIcon name="cilSave" size="md" title="Save Button Icon"></svg> Save
            </button>
            <button cButton class="btn btn-danger btnCancelColor me-1" (click)="reset()">
              <!-- onclick="window.location.reload();" -->
              <svg cIcon name="cilX" size="md" title="Close Button Icon"></svg> Cancel
            </button>
          </c-col>
        </c-col>
            
      </form>
    </c-card-body>

  </c-card>
</c-col>
