<div class="bg-secondary min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="4">
        <c-card class="p-4 bg-login-card">
          <img src="/assets/images/logo.png" class="login-logo"/>
          <c-card-body>
            <form [formGroup]="forgotPasswordForm" (submit)="submit()" *ngIf="!isInvalidCode">
              <input type="hidden" formControlName="postCode">
              <div class="col-md-12">
                <label>New Password</label>
                <input type="password" class="form-control" formControlName="newPassword">
                <div class="mt-0 mb-2" cRow *ngIf="forgotPasswordForm.get('newPassword')?.invalid &&
                      forgotPasswordForm.get('newPassword')?.errors &&
                      (forgotPasswordForm.get('newPassword')?.dirty || forgotPasswordForm.get('newPassword')?.touched)">
                  <small class="text-danger"
                         *ngIf="forgotPasswordForm.get('newPassword').hasError('required')">
                    This field is required.
                  </small>
                  <small class="text-danger"
                         *ngIf="forgotPasswordForm.get('newPassword').hasError('minlength')">
                    The minimum length for this field is {{forgotPasswordForm.get('newPassword').errors.minlength.requiredLength}} characters.
                  </small>
                </div>
              </div>
              <div class="col-md-12">
                <label>Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword">
                <div class="mt-0 mb-2" cRow *ngIf="forgotPasswordForm.get('confirmPassword')?.invalid &&
          forgotPasswordForm.get('confirmPassword')?.errors &&
                        (forgotPasswordForm.get('confirmPassword')?.dirty || forgotPasswordForm.get('confirmPassword')?.touched)">
                  <small class="text-danger"
                         *ngIf="forgotPasswordForm.get('confirmPassword').hasError('required')">
                    This field is required.
                  </small>
                  <small class="text-danger"
                         *ngIf="forgotPasswordForm.get('confirmPassword').hasError('minlength')">
                    The minimum length for this field is {{forgotPasswordForm.get('confirmPassword').errors.minlength.requiredLength}} characters.
                  </small>
                  <small class="text-danger"
                         *ngIf="forgotPasswordForm.get('newPassword').touched && forgotPasswordForm.get('confirmPassword').errors?.passwordMismatch">
                    Passwords does not match
                  </small>
                </div>
              </div>

              <div class="col-md-12 mt-3">
                <button class="btn btn-primary w-100" type="submit" (click)="submit()">
                  Reset Password</button>
              </div>
            </form>
            <div *ngIf="isInvalidCode">
              <h4>Password Reset Link is not valid anymore</h4>
              <span>Do you want to reset anyways, then <a routerLink="/login">click here</a></span>
            </div>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>


