<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>

    <c-header-nav class="ms-auto me-4">
      <form [formGroup]="themeSwitch" cForm>
        <c-button-group aria-label="Theme switch">
          <input
            class="btn-check"
            formControlName="themeSwitchRadio"
            id="btn-light-theme"
            type="radio"
            value="light"
          />
          <label
            (click)="setTheme('light')"
            cButton
            cFormCheckLabel
            color="primary"
          >
            <svg cIcon name="cilSun"></svg>
          </label>
          <input
            class="btn-check"
            formControlName="themeSwitchRadio"
            id="btn-dark-theme"
            type="radio"
            value="dark"
          />
          <label
            (click)="setTheme('dark')"
            cButton
            cFormCheckLabel
            color="primary"
          >
            <svg cIcon name="cilMoon"></svg>
          </label>
        </c-button-group>
      </form>
    </c-header-nav>

    <!-- todo: header nav dropdown menus  -->
    <c-header-nav class="ms-3 me-sm-4">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>


  </c-container>
  <c-header-divider></c-header-divider>
  <c-container [fluid]="true">
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item" *ngFor="let item of breadcumb$ | async">{{item.displayName}}</li>
      </ul>
    </nav>
  </c-container>
</ng-container>
<!--</c-header>-->
<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button
      cButton
      color=""
      [caret]="false"
      cDropdownToggle
      class="py-0"
    >
      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="./assets/img/avatars/user.png"
        status="success"
      >
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">

      <li>
        <h6 cDropdownHeader class="bg-light dark:bg-white dark:bg-opacity-10 fw-semibold py-2">Settings</h6>
      </li>
      <li></li>
      <li>
        <a [routerLink]="['/security/profile-update']" cDropdownItem (click)="setState('User Profile')">
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li>
        <a [routerLink]="['/security/changepassword']" cDropdownItem (click)="setState('Change Password')">
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Change Password
        </a>
      </li>

      <li>
        <hr cDropdownDivider/>
      </li>

      <li>
        <a (click)="logout()" cDropdownItem>
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Logout
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>
