<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="fa fa-align-justify" >Risk Assessment List</div> 
          </div>
          <div class="card-body">
           
            <form [formGroup]="searchForm">
              <div class="row" style="margin: 0 auto;">
                <div class="col-md-5 mb-2">
                  <button [cModalToggle]="verticallyCenteredModal.id" class="btnCreateColor" (click)="reset()" cButton>
                    <svg cIcon name="cilPlus" size="md" title="Add Button Icon"></svg> Create
                  </button> 
                </div>
                <div class="col-md-3 mb-2 form-floating">
                  <input type="text" formControlName="searchTerm" class="form-control searchInput"  placeholder="Search by Name or Code"/>
                  <label class="searchLevel" for="floatingInput">Assessment Code</label>
                </div>
                <div class="col-md-3 mb-2 form-floating">
                  <select aria-label="Floating label select example" cSelect id="year"
                  formControlName="year" name="year" style="height: 70px;">
                  <option value="null">Select</option>
                  <option *ngFor="let commonValueAndType of year" [value]="commonValueAndType.text">
                    {{commonValueAndType.text}}
                  </option>
                </select>
                </div>
                <div class="col-md-1 mb-2">
                  <button type="button" class="btn btn-secondary mr-1 btn-block searchBtn" data-toggle="modal" (click)="search()" >
                    Search
                  </button>
                </div>
              </div>
           </form>
            
            <div class="row overflow-auto">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered row-border datatableStyle hover" >
                  <thead>
                    <tr>
                      <th>Risk Assessment Code</th>
                      <th>Country</th>
                      <th>Audit Type</th>
                      <th>Effective From</th>
                      <th>Effective To</th>  
                      <th>Action</th>                   
                    </tr>
                  </thead>
                  <tbody *ngIf="riskAssessments?.length != 0">
                    <tr *ngFor="let riskAssessment of riskAssessments">
                      <td>{{ riskAssessment.assesmentCode }}</td>
                      <td>{{ riskAssessment.countryName }}</td>
                      <td>{{ riskAssessment.auditTypeName }}</td>
                      <td>{{ riskAssessment.effectiveFrom | date:'medium' }}</td>
                      <td>{{ riskAssessment.effectiveTo | date:'medium' }}</td>
                      <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-secondary btnEditColor" (click)="edit(verticallyCenteredModal,riskAssessment)">
                            <svg cIcon name="cilPencil" size="md" title="Edit Button icon"></svg>
                          </button>
                          <button type="button" class="btn btn-danger btnDeleteColor" (click)="delete(riskAssessment.id)">
                            <svg cIcon name="cilTrash" size="md" title="Delete Button Icon"></svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="riskAssessments?.length == 0">
                    <tr>
                      <td colspan="5" class="no-data-available">No data!</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

  <form [formGroup]="riskAssessmentForm" (ngSubmit)="onSubmit(verticallyCenteredModal)" novalidate>
  <c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
    <c-modal-header>
      <h5 cModalTitle *ngIf="!formService.isEdit(this.riskAssessmentForm.get('id'))">Create Risk Assessment</h5>
      <h5 cModalTitle *ngIf="formService.isEdit(this.riskAssessmentForm.get('id'))">Update Risk Assessment</h5>
      <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button> 
    </c-modal-header>
     <c-modal-body>
      <div class="col-md-12" >
        <input type="hidden" formControlName="id"/>  
        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="assesmentCode" id="assesmentCode" placeholder="assesmentCode">
          <label for="floatingInput">Assesment Code</label>
        </div>
          <div form-floating>
            <select aria-label="Floating label select example" cSelect id="countryId"
              formControlName="countryId" name="countryId">
              <option value=null>Select Country Level</option>
              <option *ngFor="let country of countries" [value]="country.id">
                {{country.name}}
              </option>
            </select>
          </div>
          <div cRow *ngIf="(riskAssessmentForm.get('countryId')?.invalid && riskAssessmentForm.get('countryId')?.errors) &&         
          (riskAssessmentForm.get('countryId')?.dirty || riskAssessmentForm.get('countryId')?.touched)">
          <small class="text-danger">
            This field is required.
          </small>                                 
        </div> 
        <br> 

          <div form-floating>
            <select aria-label="Floating label select example" cSelect id="auditTypeId"
              formControlName="auditTypeId" name="auditTypeId">
              <option value="null">Select Audit Type</option>
              <option *ngFor="let commonValueAndType of auditType" [value]="commonValueAndType.id">
                {{commonValueAndType.text}}
              </option>
            </select>
          </div>
            
          <div cRow *ngIf="((riskAssessmentForm.get('auditTypeId')?.invalid && riskAssessmentForm.get('auditTypeId')?.errors)) &&
            (riskAssessmentForm.get('auditTypeId')?.dirty || riskAssessmentForm.get('auditTypeId')?.touched)">
            <small class="text-danger">
              This field is required.
            </small>                                 
          </div> 
          <br>

          <div class="form-floating">
            <input class="form-control" placeholder="effectiveFrom" formControlName="effectiveFrom" id="effectiveFrom" type="date" >
            <label for="effectiveFrom">Effective From</label>
          </div>
          <div cRow *ngIf="riskAssessmentForm.get('effectiveFrom')?.invalid && riskAssessmentForm.get('effectiveFrom')?.errors &&
                (riskAssessmentForm.get('effectiveFrom')?.dirty || riskAssessmentForm.get('effectiveFrom')?.touched)">
            <small class="text-danger" *ngIf="riskAssessmentForm.get('effectiveFrom').hasError('required')">
              This field is required.
            </small>                                 
          </div>
          <br>

          <div class="form-floating">
            <input class="form-control" placeholder="effectiveTo" formControlName="effectiveTo" id="effectiveTo" type="date" >
            <label for="effectiveTo">Effective To</label>
          </div>
          <div cRow *ngIf="riskAssessmentForm.get('effectiveTo')?.invalid && riskAssessmentForm.get('effectiveTo')?.errors &&
                (riskAssessmentForm.get('effectiveTo')?.dirty || riskAssessmentForm.get('effectiveTo')?.touched)">
            <small class="text-danger" *ngIf="riskAssessmentForm.get('effectiveTo').hasError('required')">
              This field is required.
            </small>                                 
          </div>
          <br>          
  
      </div>
    </c-modal-body> 
     <c-modal-footer>
      <button cButton class="btn btn-primary btnSaveColor me-1" (click)="onSubmit(verticallyCenteredModal)">Save</button>
           <button [cModalToggle]="verticallyCenteredModal.id" cButton class="btn btn-danger btnCancelColor me-1"> 
            Close
       </button> 
    </c-modal-footer> 
  </c-modal>
  </form>
  