<c-nav variant="tabs">
  <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink>Risk Assessment</a>
  <a  [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>Plan Overview</a>
</c-nav>
<c-col xs="12">
  <c-card class="mb-4"> 

<c-tab-content #tabContent="cTabContent">
  <c-tab-pane class="p-3"> 
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <div class="fa fa-align-justify" >Risk Assessment List</div> 
            </div>
            <div class="card-body">
             
              <form [formGroup]="searchForm">
                <div class="row" style="margin: 0 auto;">
                  <div class="col-md-5 mb-2">
                    <button [cModalToggle]="verticallyCenteredModal.id" class="btnCreateColor" (click)="reset()" cButton>
                      <svg cIcon name="cilPlus" size="md" title="Add Button Icon"></svg> Create
                    </button> 
                  </div>
                  <div class="col-md-3 mb-2 form-floating">
                    <input type="text" formControlName="searchTerm" class="form-control searchInput"  placeholder="Search by Name or Code"/>
                    <label class="searchLevel" for="floatingInput">Assessment Code</label>
                  </div>
                  <div class="col-md-3 mb-2 form-floating">
                    <select aria-label="Floating label select example" cSelect id="year"
                    formControlName="year" name="year" style="height: 40px;">
                    <option value="">Select Year</option>
                    <option *ngFor="let commonValueAndType of year" [value]="commonValueAndType.text">
                      {{commonValueAndType.text}}
                    </option>
                  </select>
                  </div>
                  <div class="col-md-1 mb-2">
                    <button type="button" class="btn btn-secondary mr-1 btn-block searchBtn" data-toggle="modal" (click)="search()" >
                      Search
                    </button>
                  </div>
                </div>
             </form>
              
              <div class="row overflow-auto">
                  <table datatable [dtOptions]="dtOptions[0]" class="table table-bordered row-border datatableStyle hover" >
                    <thead>
                      <tr>
                        <th>Assessment Id</th>
                        <th>Country</th>
                        <th>Audit Type</th>
                        <th>Assessment From</th>
                        <th>Assessment To</th>
                        <th>Action</th>                   
                      </tr>
                    </thead>
                    <tbody *ngIf="riskAssessments?.length != 0">
                      <tr *ngFor="let riskAssessment of riskAssessments">
                        <td>
                          <a [routerLink]="['/branch-audit/risk-assessment-view', riskAssessment.id]">
                            {{ riskAssessment.assessmentCode }}
                          </a>
                        </td>
                        <td>{{ riskAssessment.countryName }}</td>
                        <td>{{ riskAssessment.auditTypeName }}</td>
                        <td>{{ riskAssessment.effectiveFrom | date:'medium' }}</td>
                        <td>{{ riskAssessment.effectiveTo | date:'medium' }}</td>
                        <td>
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary btnEditColor" (click)="edit(verticallyCenteredModal,riskAssessment)">
                              <svg cIcon name="cilPencil" size="md" title="Edit Button icon"></svg>
                            </button>
                            <button type="button" class="btn btn-danger btnDeleteColor" (click)="delete(riskAssessment.id)">
                              <svg cIcon name="cilTrash" size="md" title="Delete Button Icon"></svg>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="riskAssessments?.length == 0">
                      <tr>
                        <td colspan="5" class="no-data-available">No data!</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <form [formGroup]="riskAssessmentForm" (ngSubmit)="onSubmit(verticallyCenteredModal)" novalidate>
  <c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
    <c-modal-header>
      <h5 cModalTitle *ngIf="!formService.isEdit(this.riskAssessmentForm.get('id'))">Create Risk Assessment</h5>
      <h5 cModalTitle *ngIf="formService.isEdit(this.riskAssessmentForm.get('id'))">Update Risk Assessment</h5>
      <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button> 
    </c-modal-header>
      <c-modal-body>
      <div class="col-md-12" >
        <input type="hidden" formControlName="id"/>  
        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="assessmentCode" id="assessmentCode" placeholder="assessmentCode" [readonly]="true">
         
          <label for="floatingInput">Assessment Code</label>
        </div>
          <div form-floating>
            <select aria-label="Floating label select example" cSelect id="countryId"
              formControlName="countryId" name="countryId"  (change)="GetRiskAssessmentCode($event)">
              <option value=null>Select Country Level</option>
              <option *ngFor="let country of countries" [value]="country.id">
                {{country.name}}
              </option>
            </select>
          </div>
          <div cRow *ngIf="(riskAssessmentForm.get('countryId')?.invalid && riskAssessmentForm.get('countryId')?.errors) &&         
          (riskAssessmentForm.get('countryId')?.dirty || riskAssessmentForm.get('countryId')?.touched)">
          <small class="text-danger">
            This field is required.
          </small>                                 
        </div> 
        <br> 
  
          <div form-floating>
            <select aria-label="Floating label select example" cSelect id="auditTypeId"
              formControlName="auditTypeId" name="auditTypeId">
              <option value="null">Select Audit Type</option>
              <option *ngFor="let commonValueAndType of auditType" [value]="commonValueAndType.id">
                {{commonValueAndType.text}}
              </option>
            </select>
          </div>
            
          <div cRow *ngIf="((riskAssessmentForm.get('auditTypeId')?.invalid && riskAssessmentForm.get('auditTypeId')?.errors)) &&
            (riskAssessmentForm.get('auditTypeId')?.dirty || riskAssessmentForm.get('auditTypeId')?.touched)">
            <small class="text-danger">
              This field is required.
            </small>                                 
          </div> 
          <br>
  
          <div class="form-floating">
            <input class="form-control" placeholder="effectiveFrom" formControlName="effectiveFrom" id="effectiveFrom" type="date" >
            <label for="effectiveFrom">Effective From</label>
          </div>
          <div cRow *ngIf="riskAssessmentForm.get('effectiveFrom')?.invalid && riskAssessmentForm.get('effectiveFrom')?.errors &&
                (riskAssessmentForm.get('effectiveFrom')?.dirty || riskAssessmentForm.get('effectiveFrom')?.touched)">
            <small class="text-danger" *ngIf="riskAssessmentForm.get('effectiveFrom').hasError('required')">
              This field is required.
            </small>                                 
          </div>
          <br>
  
          <div class="form-floating">
            <input class="form-control" placeholder="effectiveTo" formControlName="effectiveTo" id="effectiveTo" type="date" >
            <label for="effectiveTo">Effective To</label>
          </div>
          <div cRow *ngIf="riskAssessmentForm.get('effectiveTo')?.invalid && riskAssessmentForm.get('effectiveTo')?.errors &&
                (riskAssessmentForm.get('effectiveTo')?.dirty || riskAssessmentForm.get('effectiveTo')?.touched)">
            <small class="text-danger" *ngIf="riskAssessmentForm.get('effectiveTo').hasError('required')">
              This field is required.
            </small>                                 
          </div>
          <small class="text-danger" *ngIf="riskAssessmentForm.hasError('invalidDateRange')">
            Effective From should be greater than Effective To.
          </small>        
          <br>          
  
      </div>
    </c-modal-body> 
      <c-modal-footer>
      <button cButton class="btn btn-primary btnSaveColor me-1" (click)="onSubmit(verticallyCenteredModal)">Save</button>
            <button [cModalToggle]="verticallyCenteredModal.id" cButton class="btn btn-danger btnCancelColor me-1" (click)="reset()"> 
            Close
        </button> 
    </c-modal-footer> 
  </c-modal>
  </form>
  
  </c-tab-pane>


  <c-tab-pane class="p-3"> 
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <div class="fa fa-align-justify" >Audit Plan List</div> 
            </div>
            <div class="card-body">
             
              <form [formGroup]="searchForm1">
                <div class="row" style="margin: 0 auto;">
                  <div class="col-md-5 mb-2">
                    <button [cModalToggle]="verticallyCenteredModalAuditPlan.id" class="btnCreateColor" (click)="reset()" cButton>
                      <svg cIcon name="cilPlus" size="md" title="Add Button Icon"></svg> Create
                    </button> 
                  </div>
                  <div class="col-md-5 mb-2 form-floating">
                    <input type="text" formControlName="searchTerm" class="form-control searchInput"  placeholder="Search by Name or Code"/>
                    <label class="searchLevel" for="floatingInput">Assessment Code</label>
                  </div>
                  <div class="col-md-1 mb-2">
                    <button type="button" class="btn btn-secondary mr-1 btn-block searchBtn" data-toggle="modal" (click)="search()" >
                      Search
                    </button>
                  </div>
                </div>
             </form>
              
              <div class="row overflow-auto">
                  <table datatable [dtOptions]="dtOptions[1]" class="table table-bordered row-border datatableStyle hover" style="width: 100%;">
                    <thead>
                      <tr>
                        <th>Plan Code</th>
                        <th>RA Code</th>
                        <th>Country</th>
                        <th>Audit Type</th>
                        <th>Year</th>
                        <th>Assessment From</th>
                        <th>Assessment To</th>  
                        <th>Action</th>                   
                      </tr>
                    </thead>
                    <tbody *ngIf="auditPlans?.length != 0">
                      <tr *ngFor="let auditPlan of auditPlans">
                        <td>
                        <a [routerLink]="['/branch-audit/audit-plan-view', auditPlan.id]">
                          {{ auditPlan.assessmentCode }}
                        </a>
                        </td>
                        <td>{{ auditPlan.assessmentCode }}</td>
                        <td>{{ auditPlan.countryName }}</td>
                        <td>{{ auditPlan.auditTypeName }}</td>
                        <td>{{ auditPlan.yearName }}</td>
                        <td>{{ auditPlan.assessmentFrom | date:'medium' }}</td>
                        <td>{{ auditPlan.assessmentTo | date:'medium' }}</td>
                        <td>
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary btnEditColor" (click)="editAuditPlan(verticallyCenteredModalAuditPlan,auditPlan)">
                              <svg cIcon name="cilPencil" size="md" title="Edit Button icon"></svg>
                            </button>
                            <button type="button" class="btn btn-danger btnDeleteColor" (click)="deleteAuditPlan(auditPlan.id)">
                              <svg cIcon name="cilTrash" size="md" title="Delete Button Icon"></svg>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="auditPlans?.length == 0">
                      <tr>
                        <td colspan="5" class="no-data-available">No data!</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  
<form [formGroup]="auditPlanForm" (ngSubmit)="onAuditPlanSubmit(verticallyCenteredModalAuditPlan)" novalidate width="100%">
  <c-modal #verticallyCenteredModalAuditPlan alignment="center" id="verticallyCenteredModalAuditPlan">
    <c-modal-header>
      <h5 cModalTitle *ngIf="!formService.isEdit(this.auditPlanForm.get('id'))">Create Audit Plan</h5>
      <h5 cModalTitle *ngIf="formService.isEdit(this.auditPlanForm.get('id'))">Update Audit Plan</h5>
      <button [cModalToggle]="verticallyCenteredModalAuditPlan.id" cButtonClose></button> 
    </c-modal-header>
      <c-modal-body>
      <div class="col-md-12" >
        <input type="hidden" formControlName="id"/>  
        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="planCode" id="planCode" placeholder="planCode" [readonly]="true">
          <label for="floatingInput">Plan Id</label>
        </div>
        <div class="row">
        <div class="col-md-6">
          <div form-floating>
            <select aria-label="Floating label select example" cSelect id="countryId"
              formControlName="countryId" name="countryId" (change)="GetCode($event.target.value)">
              <option value=null>Select Country Level</option>
              <option *ngFor="let country of countries" [value]="country.id">
                {{country.name}}
              </option>
            </select>
          </div>
          <div cRow *ngIf="(auditPlanForm.get('countryId')?.invalid && auditPlanForm.get('countryId')?.errors) &&         
          (auditPlanForm.get('countryId')?.dirty || auditPlanForm.get('countryId')?.touched)">
          <small class="text-danger">
            This field is required.
          </small>                                 
        </div> 
        <br> 
        </div>

        <div class="col-md-6">
          <div form-floating>
            <select aria-label="Floating label select example" cSelect id="auditTypeId"
              formControlName="auditTypeId" name="auditTypeId">
              <option value="null">Select Audit Type</option>
              <option *ngFor="let commonValueAndType of auditType" [value]="commonValueAndType.id">
                {{commonValueAndType.text}}
              </option>
            </select>
          </div>
            
          <div cRow *ngIf="((auditPlanForm.get('auditTypeId')?.invalid && auditPlanForm.get('auditTypeId')?.errors)) &&
            (auditPlanForm.get('auditTypeId')?.dirty || auditPlanForm.get('auditTypeId')?.touched)">
            <small class="text-danger">
              This field is required.
            </small>                                 
          </div> 
          <br>
        </div>
        
        
      </div>
        
      <div class="row">
        <div class="col-md-6">
          <div form-floating>
            <select aria-label="Floating label select example" cSelect id="planningYearId"
              formControlName="planningYearId" name="planningYearId">
              <option value="null">Select Year</option>
              <option *ngFor="let commonValueAndType of year" [value]="commonValueAndType.id">
                {{commonValueAndType.text}}
              </option>
            </select>
          </div>
            
          <div cRow *ngIf="((auditPlanForm.get('planningYearId')?.invalid && auditPlanForm.get('planningYearId')?.errors)) &&
            (auditPlanForm.get('planningYearId')?.dirty || auditPlanForm.get('planningYearId')?.touched)">
            <small class="text-danger">
              This field is required.
            </small>                                 
          </div> 
          <br>
        </div>

        <div class="col-md-6">
          <div form-floating>
            <select aria-label="Floating label select example" cSelect id="riskAssessmentId"
              formControlName="riskAssessmentId" name="riskAssessmentId" (change)=" GetRiskAssessmentDateRange($event)">
              <option value="null">Select Risk Assessment Id</option>
              <option *ngFor="let riskAssessment of auditPlanRiskAssessments" [value]="riskAssessment.id">
                {{riskAssessment.assessmentCode}}
              </option>
            </select>
          </div>
          <div cRow *ngIf="((auditPlanForm.get('riskAssessmentId')?.invalid && auditPlanForm.get('riskAssessmentId')?.errors)) &&
          (auditPlanForm.get('riskAssessmentId')?.dirty || auditPlanForm.get('riskAssessmentId')?.touched)">
          <small class="text-danger">
            This field is required.
          </small>                                 
        </div> 
        <br>
            
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-floating">
            <input class="form-control" placeholder="assessmentFrom" formControlName="assessmentFrom" id="assessmentFrom" type="date" [readonly]="true">
            <label for="assessmentFrom">Assessment From</label>
          </div>
    
              <div cRow *ngIf="auditPlanForm.get('assessmentFrom')?.invalid && auditPlanForm.get('assessmentFrom')?.errors &&
                    (auditPlanForm.get('assessmentFrom')?.dirty || auditPlanForm.get('assessmentFrom')?.touched)">
                <small class="text-danger" *ngIf="auditPlanForm.get('assessmentFrom').hasError('required')">
                  This field is required.
                </small>                                 
              </div>
              <br>
      
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input class="form-control" placeholder="assessmentTo" formControlName="assessmentTo" id="assessmentTo" type="date"  [readonly]="true">
            <label for="assessmentTo">Assessment To</label>
          </div>
          <div cRow *ngIf="auditPlanForm.get('assessmentTo')?.invalid && auditPlanForm.get('assessmentTo')?.errors &&
                (auditPlanForm.get('assessmentTo')?.dirty || auditPlanForm.get('assessmentTo')?.touched)">
            <small class="text-danger" *ngIf="auditPlanForm.get('assessmentTo').hasError('required')">
              This field is required.
            </small>                                 
          </div>
          <br> 
        </div>
      </div>

      </div>
      <div class="row overflow-auto">
        <table datatable [dtOptions]="dtOptions[2]" class="table table-bordered row-border hover datatableStyle"
            id="mytable" style="width: 100%;">
            <thead>
                <tr>
                    <th>SL No.</th>
                    <th>Branch Name</th>
                    <th>Risk Rating</th>
                    <th>Audit Frequency</th>
                    <!-- <th>Active</th> -->

                </tr>
            </thead>
            <tbody *ngIf="auditPlanCreateTable?.length != 0">
                <tr *ngFor="let auditPlan of auditPlanCreateTable; let i = index">
                    <td> {{i+1}}</td>
                    <td> {{ auditPlan.branchName }} </td>
                    <td> {{ auditPlan.avg_Rating }} </td>
                    <td> {{ auditPlan.avg_Score }} </td>
                    <!-- <td> {{ documentList.score }} </td> -->
                </tr>
            </tbody>
            <tbody *ngIf="auditPlanCreateTable?.length == 0">
                <tr>
                    <td colspan="5" class="no-data-available">No data available!</td>
                </tr>
            </tbody>
        </table>
    </div>
    </c-modal-body> 
      <c-modal-footer>
      <button cButton class="btn btn-primary btnSaveColor me-1" (click)="onAuditPlanSubmit(verticallyCenteredModalAuditPlan)">Save</button>
            <button [cModalToggle]="verticallyCenteredModalAuditPlan.id" cButton class="btn btn-danger btnCancelColor me-1"> 
            Close
        </button> 
    </c-modal-footer> 
  </c-modal>
  </form>
  </c-tab-pane>
</c-tab-content>







