<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
            <div class="fa fa-align-justify"><strong>Issue List</strong></div> 
            </div>
            <div class="card-body">
                <form [formGroup]="searchForm">
                    <div class="row" style="margin: 0 auto;">
                      <div class="col-md-6 mb-2">
                        <button [cModalToggle]="verticallyCenteredModal.id" class="btnCreateColor" (click)="reset()" cButton>
                          <svg cIcon name="cilPlus" size="md" title="Add Button Icon"></svg> Create
                        </button> 
                      </div>
                      <div class="col-md-5 mb-2 form-floating">
                        <input type="text" formControlName="searchTerm" class="form-control searchInput"  placeholder="search by issue"/>
                        <label class="searchLevel" for="floatingInput"> Search by Issue</label>
                      </div>
                      <div class="col-md-1 mb-2">
                        <button type="button" class="btn btn-secondary mr-1 btn-block " data-toggle="modal" (click)="search()" >
                          Search
                        </button>
                      </div>
                    </div>
                 </form>
            </div>
        </div>
      </div>
    </div>
</div>