<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="brokerAddress" value="amqp://guest:guest@192.168.97.24:5672" />
		<add key="log.file" value="log.log" />
		<add key="log.entity" value="GH"/>
		<add key="serviceName" value="GHservice"/>
		<add key="brokerQueue" value="Bulgeria-IA" />
    <add key="baseApi" value="http://192.168.97.56:9999" />
    <add key="ApiUrl" value="/api/v1/DataSync" />
	</appSettings>
	<connectionStrings>
		<add name="Internal.Audit.Consumer.Service.ConnectionString" connectionString="Data Source=192.168.97.27,1440;Initial Catalog=AMBSLK;Timeout=120000000;Persist Security Info=True;User ID=sa;Password=oLdViCtOrY2008;" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>