<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify" ></i> Risk Profile List
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-7 mb-2">
                  <button [cModalToggle]="verticallyCenteredModal.id" class="btnCreateColor" (click)="reset()" cButton>Create Risk Profile</button> 
  
              </div>
              <div class="col-sm-5 mb-2">
                <div class="row">
                  <div class="col-8">
                    <!-- <input type="text" [(ngModel)]="searchText" class="form-control pull-right" placeholder="Search by Code"/> -->
                    <input type="text" class="form-control pull-right" placeholder="Search by Name"/>
                  </div>
                  <div class="col-2">
                    <!-- <button type="button" class="btn btn-secondary mr-1 pull-right btn-block" data-toggle="modal" (click)="search()" >
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button> -->
                    <button type="button" class="btn btn-secondary mr-1 pull-right btn-block" data-toggle="modal" >
                      Search
                  </button>
                  </div>
                  <div class="col-2">
                    <!-- <button type="button" class="btn btn-secondary mr-1 pull-right btn-block" data-toggle="modal" (click)="clearSearch()" >
                        <i [ngClass]="searchText ? 'fa fa-times' : 'fa fa-refresh'" aria-hidden="true"></i>
                    </button> -->
                    <button type="button" class="btn btn-secondary mr-1 pull-right btn-block" data-toggle="modal"  >
                      Reset
                  </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row overflow-auto">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered row-border hover" >
                  <thead>
                    <tr>
                      <th>Level of Likelihood</th>
                      <th>Level of impact</th>
                      <th>Risk Rating</th>
                      <th>Description</th>  
                      <th>Action</th>                   
                    </tr>
                  </thead>
                  <tbody *ngIf="riskProfiles?.length != 0">
                    <tr *ngFor="let riskProfile of riskProfiles">
                      <td>{{ riskProfile.likelihoodTypeId }}</td>
                      <td>{{ riskProfile.impactTypeId }}</td>
                      <td>{{ riskProfile.ratingTypeId }}</td>
                      <!-- <td>{{ riskProfile.effectiveFrom | date:'medium' }}</td>
                      <td>{{ riskProfile.effectiveTo | date:'medium' }}</td> -->
                      <td>{{ riskProfile.description }}</td>
                      <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <!-- <button type="button" class="btn btn-secondary btnSaveColor" (click)="edit(verticallyCenteredModal,riskProfile)">
                           Edit
                          </button> -->
                          <button type="button" class="btn btn-danger btnDeleteColor" (click)="delete(riskProfile.id)">
                            Delete
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="riskProfiles?.length == 0">
                    <tr>
                      <td colspan="5" class="no-data-available">No data!</td>
                    </tr>
                  </tbody>
                </table>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="riskProfileForm" (ngSubmit)="onSubmit(verticallyCenteredModal)" novalidate>
  <c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
    <c-modal-header>
      <h5 cModalTitle *ngIf="!formService.isEdit(this.riskProfileForm.get('id'))">Create Risk Profile</h5>
      <h5 cModalTitle *ngIf="formService.isEdit(this.riskProfileForm.get('id'))">Update Risk Profile</h5>
      <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button> 
    </c-modal-header>

     <c-modal-body>
      <div class="col-md-12" >
        <input type="hidden" formControlName="id"/>

  
          <div form-floating>
            <select aria-label="Floating label select example" cSelect id="likelihoodLevel"
              formControlName="likelihoodLevel" name="likelihoodLevel">
              <option value="null">Select Likelihood Level</option>
              <option *ngFor="let commonValueAndType of likelihoodType" [value]="commonValueAndType.id">
                {{commonValueAndType.text}}
              </option>
            </select>
          </div>

          <div cRow *ngIf="riskProfileForm.get('likelihoodLevel')?.invalid &&
          riskProfileForm.get('likelihoodLevel')?.errors &&
                (riskProfileForm.get('likelihoodLevel')?.dirty || riskProfileForm.get('likelihoodLevel')?.touched)">
            <small class="text-danger" *ngIf="riskProfileForm.get('likelihoodLevel').hasError('required')">
              This field is required.
            </small>                                 
          </div> 
          <br>

          <div form-floating>
            <select aria-label="Floating label select example" cSelect id="impactLevel"
              formControlName="impactLevel" name="impactLevel">
              <option value="null">Select Impact Level</option>
              <option *ngFor="let commonValueAndType of impactType" [value]="commonValueAndType.id">
                {{commonValueAndType.text}}
              </option>
            </select>
          </div>
         

          <div cRow *ngIf="riskProfileForm.get('impactLevel')?.invalid &&
          riskProfileForm.get('impactLevel')?.errors &&
                (riskProfileForm.get('impactLevel')?.dirty || riskProfileForm.get('impactLevel')?.touched)">
            <small class="text-danger" *ngIf="riskProfileForm.get('impactLevel').hasError('required')">
              This field is required.
            </small>                                 
          </div> 
          <br>

          <div form-floating>
            <select aria-label="Floating label select example" cSelect id="riskLevel"
              formControlName="riskLevel" name="riskLevel">
              <option value="null">Select Risk Rating</option>
              <option *ngFor="let commonValueAndType of ratingType" [value]="commonValueAndType.id">
                {{commonValueAndType.text}}
              </option>
            </select>
          </div>

          <div cRow *ngIf="riskProfileForm.get('riskLevel')?.invalid &&
          riskProfileForm.get('riskLevel')?.errors &&
                (riskProfileForm.get('riskLevel')?.dirty || riskProfileForm.get('riskLevel')?.touched)">
            <small class="text-danger" *ngIf="riskProfileForm.get('riskLevel').hasError('required')">
              This field is required.
            </small>                                 
          </div> 
          <br>
 

          <div class="form-floating">
            <textarea class="form-control" placeholder="Description" formControlName="Description" id="Description"></textarea>
            <label for="floatingTextarea">Description</label>
          </div>
          <br>
          
          <div class="form-floating">
            <input class="form-control" placeholder="EffectiveFrom" formControlName="EffectiveFrom" id="EffectiveFrom" type="date">
            <label for="EffectiveFrom">Effective From</label>
          </div>
          <br>

          <div class="form-floating">
            <input class="form-control" placeholder="EffectiveTo" formControlName="EffectiveTo" id="EffectiveTo" type="date">
            <label for="EffectiveTo">Effective To</label>
          </div>
          <br>
  
      </div>
    </c-modal-body> 
     <c-modal-footer>
      <button cButton class="btn btn-primary btnSaveColor me-1" (click)="onSubmit(verticallyCenteredModal)">Save</button>
           <button [cModalToggle]="verticallyCenteredModal.id" cButton class="btn btn-danger btnCancelColor me-1"> 
            Close
       </button> 
    </c-modal-footer> 
  </c-modal>
  </form>
  