<div class="bg-secondary min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">

      <c-col md="4">
          <c-card class="p-4 bg-login-card">
          <img src="/assets/images/logo.png" class="login-logo"/>
            <c-card-body>
              <form cForm class="login-form needs-validation" [formGroup]="loginForm" (ngSubmit)="onSubmit()"
              novalidate >
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl placeholder="Username" formControlName="username" required/>

                </c-input-group>
                <div cRow *ngIf="loginForm.get('username')?.invalid &&
                loginForm.get('username')?.errors &&
                      (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                  <small class="text-danger"
                      *ngIf="loginForm.get('username').hasError('required')">
                      This field is required.
                  </small>
                  <small class="text-danger"
                      *ngIf="loginForm.get('username').hasError('minlength')">
                      The minimum length for this field is {{loginForm.get('username').errors.minlength.requiredLength}} characters.
                  </small>
                  <small class="text-danger"
                      *ngIf="loginForm.get('username').hasError('maxlength')">
                      The maximum length for this field is {{loginForm.get('username').errors.maxlength.requiredLength}} characters.
                  </small>
              </div>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password" formControlName="password" required
                  />

                </c-input-group>

                <c-row *ngIf="loginForm.get('password')?.invalid &&
                loginForm.get('password')?.errors &&
                      (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                  <small class="text-danger"
                      *ngIf="loginForm.get('password').hasError('required')">
                      This field is required.
                  </small>
                  <small class="text-danger"
                      *ngIf="loginForm.get('password').hasError('minlength')">
                      The minimum length for this field is {{loginForm.get('password').errors.minlength.requiredLength}} characters.
                  </small>
                  <small class="text-danger"
                      *ngIf="loginForm.get('password').hasError('maxlength')">
                      The maximum length for this field is {{loginForm.get('password').errors.maxlength.requiredLength}} characters.
                  </small>
                </c-row>
                <c-row>
                  <div class="d-grid gap-2">

                    <button class="btn btn-primary" type="submit">
                      <svg cIcon name="cilLockLocked" title="Login Lock Icon"></svg>
                      Login</button>
                  </div>

                </c-row>
              </form>
            </c-card-body>
          </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>


