
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify" ></i> Country List
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-7 mb-2">
                <button [cModalToggle]="verticallyCenteredModal.id" (click)="reset()" cButton>Create Country</button>

            </div>
            <div class="col-sm-5 mb-2">
              <div class="row">
                <div class="col-8">
                  <!-- <input type="text" [(ngModel)]="searchText" class="form-control pull-right" placeholder="Search by Code"/> -->
                  <input type="text" class="form-control pull-right" placeholder="Search by Name"/>
                </div>
                <div class="col-2">
                  <!-- <button type="button" class="btn btn-secondary mr-1 pull-right btn-block" data-toggle="modal" (click)="search()" >
                      <i class="fa fa-search" aria-hidden="true"></i>
                  </button> -->
                  <button type="button" class="btn btn-secondary mr-1 pull-right btn-block" data-toggle="modal" >
                    Search
                </button>
                </div>
                <div class="col-2">
                  <!-- <button type="button" class="btn btn-secondary mr-1 pull-right btn-block" data-toggle="modal" (click)="clearSearch()" >
                      <i [ngClass]="searchText ? 'fa fa-times' : 'fa fa-refresh'" aria-hidden="true"></i>
                  </button> -->
                  <button type="button" class="btn btn-secondary mr-1 pull-right btn-block" data-toggle="modal"  >
                    Reset
                </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row overflow-auto">
              <table datatable [dtOptions]="dtOptions" class="table table-bordered row-border hover" >
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>created on</th>
                    <th>Remarks</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngIf="countries?.length != 0">
                  <tr *ngFor="let country of countries">
                    <td>{{ country.name }}</td>
                    <td>{{ country.code }}</td>
                    <td>{{ country.createdOn | date:'medium' }}</td>
                    <td>{{ country.remarks }}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" (click)="edit(verticallyCenteredModal,country)">
                         Edit
                        </button>
                        <button type="button" class="btn btn-danger" (click)="delete(country.id)">
                          Delete
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="countries?.length == 0">
                  <tr>
                    <td colspan="5" class="no-data-available">No data!</td>
                  </tr>
                </tbody>
              </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="countryForm" (ngSubmit)="onSubmit(verticallyCenteredModal)" novalidate>
<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle *ngIf="!formService.isEdit(this.countryForm.get('id'))">Create Country</h5>
    <h5 cModalTitle *ngIf="formService.isEdit(this.countryForm.get('id'))">Update Country</h5>
    <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="col-md-12" >
      <input type="hidden" formControlName="id"/>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name">
          <label for="floatingInput">Name</label>
        </div>


        <div cRow *ngIf="countryForm.get('name')?.invalid &&
        countryForm.get('name')?.errors &&
              (countryForm.get('name')?.dirty || countryForm.get('name')?.touched)">
          <small class="text-danger"
              *ngIf="countryForm.get('name').hasError('required')">
              This field is required.
          </small>
          <small class="text-danger"
              *ngIf="countryForm.get('name').hasError('minlength')">
              The minimum length for this field is {{countryForm.get('name').errors.minlength.requiredLength}} characters.
          </small>
          <small class="text-danger"
              *ngIf="countryForm.get('name').hasError('maxlength')">
              The maximum length for this field is {{countryForm.get('name').errors.maxlength.requiredLength}} characters.
          </small>
      </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" formControlName="code" id="code" placeholder="Code">
          <label for="floatingInput">Code</label>
        </div>

        <div cRow *ngIf="countryForm.get('code')?.invalid &&
        countryForm.get('code')?.errors &&
              (countryForm.get('code')?.dirty || countryForm.get('code')?.touched)">
          <small class="text-danger"
              *ngIf="countryForm.get('code').hasError('required')">
              This field is required.
          </small>
          <small class="text-danger"
              *ngIf="countryForm.get('code').hasError('minlength')">
              The minimum length for this field is {{countryForm.get('code').errors.minlength.requiredLength}} characters.
          </small>
          <small class="text-danger"
              *ngIf="countryForm.get('code').hasError('maxlength')">
              The maximum length for this field is {{countryForm.get('code').errors.maxlength.requiredLength}} characters.
          </small>
      </div>


        <div class="form-floating">
          <textarea class="form-control" placeholder="Remarks" formControlName="remarks" id="remarks"></textarea>
          <label for="floatingTextarea">Remarks</label>
        </div>

    </div>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="onSubmit(verticallyCenteredModal)">Save</button>
  </c-modal-footer>
</c-modal>
</form>
