.profile-image{
  border-radius: 100%;
  padding:5px;
  border:1px solid #dddddd;
  -webkit-transition: opacity 800ms linear;
  -moz-transition: opacity 800ms linear;
  -o-transition: opacity 800ms linear;
  -ms-transition: opacity 800ms linear;
  transition: opacity 800ms linear;
  width:100px;
  height: 100px;
}
.profile-image:hover{
  opacity: 0.4;
}
.profile-image-div:hover{
  background-image: url("/assets/images/image-upload.png");
  background-size: 100px;
  opacity: 0.7;
  background-repeat: no-repeat;
  z-index: 99999;
  border-radius: 100%;
  -webkit-transition: opacity 800ms linear;
  -moz-transition: opacity 800ms linear;
  -o-transition: opacity 800ms linear;
  -ms-transition: opacity 800ms linear;
  transition: opacity 800ms linear;
  width: 100px;
  height: 100px;
}
