.btnCancelColor{
    background-color: #666666b6;
    color: white;
    min-width: 80px;
 }

 .btnSaveColor{
     background-color: #3b6998d7;
     color: white;
     min-width: 80px;
  }
  .btnDeleteColor{
    background-color: #a11c1cde;
    color: white;
    min-width: 80px;
 }
 .btnCreateColor{
    background-color: hwb(152 10% 54% / 0.856);
    color: white;
    min-width: 80px;
 }