
<c-nav variant="tabs" id="tabs">
    <a [active]="true" id="d1" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink>Issue</a>
    <a [cTabContent]="tabContent" id="d2" [routerLink] [tabPaneIdx]="1" cNavLink>Action Plan</a>
</c-nav>
<c-col xs="12">
<c-card class="mb-4">
<c-tab-content #tabContent="cTabContent">
    <c-tab-pane class="p-3"> 
        <div class="animated fadeIn"><div class="row">
            <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                <div class="fa fa-align-justify" >
                    <strong>View Issue</strong>
                </div> 
                </div>
                <div class="card-body">
                    <div class="row">                        
                        <div>
                          <div class="a btn-group" role="group" aria-label="Basic example">
                            <button  class="btnSaveColor me-1"  cButton> Add Validation
                            </button> 
                            <button  class="btnSaveColor me-1"  cButton> View Validation
                            </button> 
                            <button  class="btnCancelColor" [cModalToggle]="changeStatusModal.id"  cButton (click)="changeStatus()"> Change Status 
                            </button> 
                          </div>
                        </div> 
                    </div>
                <br>
                    <!-- <form [formGroup]="issueViewForm" (ngSubmit)="onSubmit()" novalidate>
                        <div class="col-md-12" >
                            <input type="hidden" formControlName="id"/>
                            <input type="hidden" formControlName="countryId"/>
                            <input type="hidden" formControlName="auditTypeId"/>
                              <div cFormFloating>
                                <div class="row">
                                  <div class="form-floating col-md-2">
                                    <input type="text" class="form-control" formControlName="auditId" id="auditId" placeholder="Audit Id">
                                    <label for="floatingInput">Audit Id</label> 
                                  </div>
                                  <div class="form-floating col-md-10">
                                    <input type="text" class="form-control" formControlName="auditName" id="auditName" placeholder="Audit Name">
                                    <label for="floatingInput">Audit Name</label>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </form> -->
                    <div class="row overflow-auto">
                        <table datatable [dtOptions]="dtOptions" class="table table-bordered row-border hover datatableStyle" >
                                        
                          <tbody >
                            <tr>
                              <td class="col-md-3">Issue ID</td>
                              <td>{{ issueDetails.code}}</td>
                            </tr>
                            <tr>
                                <td>Issue Title</td>
                                <td>{{ issueDetails.issueTitle }}</td>
                            </tr>
                            <tr>
                                <td>Issue Status</td>
                                <td>{{ issueDetails.statusType }}</td>
                                <!-- <td>{{statusType}}</td> -->
                            </tr>
                            <tr>
                                <td>Issue Validated</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>Issue Owners</td>
                                <td>{{issueDetails.issueOwners}}</td>
                                
                            </tr>
                            <tr>
                                <td>Issue Rating</td>
                                <td>{{ issueDetails.ratingType }}</td>
                            </tr>
                            <tr>
                                <td>Issue Target Date</td>
                                <td>{{ issueDetails.targetDate }}</td>
                            </tr>
                            <tr>
                                <td>Issue Description</td>
                                <td>{{ issueDetails.details }}</td>
                            </tr>
                            <tr>
                                <td>Root Cause</td>
                                <td>{{ issueDetails.rootCause }}</td>
                            </tr>
                            <tr>
                                <td>Policy/Guideline/SOPs Reference</td>
                                <td>{{ issueDetails.policy }}</td>
                            </tr>
                            <tr>
                                <td>Potential Business Impact</td>
                                <td>{{ issueDetails.businessImpact }}</td>
                            </tr>
                            <tr>
                                <td>Potential Risk</td>
                                <td>{{ issueDetails.potentialRisk }}</td>
                            </tr>
                            <tr>
                                <td>Auditor's Recommendations</td>
                                <td>{{ issueDetails.auditorRecommendation }}</td>
                            </tr>
                            <tr>
                                <td>Tagged Schedule</td>
                                <td>{{ issueDetails.auditScheduleCode }}</td>
                            </tr>
                            <tr>
                                <td>Branches</td>
                                <td>{{issueDetails.branches}}
                            </tr>
                            <tr>
                                <td>Issue Creation Date</td>
                                <td>{{ issueDetails.createdOn }}</td>
                            </tr>
                            <tr>
                                <td>Issue Created By</td>
                                <td>{{ issueDetails.createdBy }}</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>            
            </div>
            </div>
        </div></div>

        <form [formGroup]="changeStatusForm" (ngSubmit)="onSubmitStatusChange(changeStatusModal)" novalidate>
          <c-modal #changeStatusModal alignment="center" id="changeStatusModal">
            <c-modal-header>
              <h5 cModalTitle>Change Status</h5>
              <!-- <h5 cModalTitle *ngIf="!formService.isEdit(this.topicHeadForm.get('id'))">Create Topic Head</h5>
              <h5 cModalTitle *ngIf="formService.isEdit(this.topicHeadForm.get('id'))">Update Topic Head</h5> -->
              <button [cModalToggle]="changeStatusModal.id" cButtonClose></button>
            </c-modal-header>
            <c-modal-body>
              <div class="col-md-12" >
                <input type="hidden" formControlName="id"/>
                <div class="form-floating mb-3">
                  <select aria-label="Floating label select example" cSelect id="statusTypeId"
                    formControlName="statusTypeId" name="statusTypeId">
                    <option value="null">Select Status</option>
                    <option *ngFor="let status of statuses" [value]="status.id">
                      {{status.text}}
                    </option>                  
                  </select>
                  <label for="statusTypeId" class="dropdownLabel">Status</label>          
                  <div cRow *ngIf="((changeStatusForm.get('statusTypeId')?.invalid && changeStatusForm.get('statusTypeId')?.errors)) &&
                    (changeStatusForm.get('statusTypeId')?.dirty || changeStatusForm.get('statusTypeId')?.touched)">
                    <small class="text-danger">
                      This field is required.
                    </small>                                 
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" formControlName="remarks" id="remarks" placeholder="remarks">
                  <label for="floatingInput">Remarks</label>
    
                  <div cRow *ngIf="changeStatusForm.get('remarks')?.invalid && changeStatusForm.get('remarks')?.errors &&
                        (changeStatusForm.get('remarks')?.dirty || changeStatusForm.get('remarks')?.touched)">
                    <small class="text-danger"
                        *ngIf="changeStatusForm.get('remarks').hasError('required')">
                        This field is required.
                    </small>
                    <small class="text-danger"
                        *ngIf="changeStatusForm.get('remarks').hasError('minlength')">
                        The minimum length for this field is {{changeStatusForm.get('remarks').errors.minlength.requiredLength}} characters.
                    </small>                    
                  </div>
                </div>
              </div>
            </c-modal-body>
            <c-modal-footer>
              <button cButton class="btn btn-primary btnSaveColor me-1" (click)="onSubmitStatusChange(changeStatusModal)">
                <svg cIcon name="cilSave" size="md" title="Save Button Icon"></svg> Save
              </button>
              <!-- <button [cModalToggle]="verticallyCenteredModal.id" cButton class="btn btn-danger btnCancelColor me-1">
                <svg cIcon name="cilX" size="md" title="Close Button Icon"></svg> Close
              </button> -->
            </c-modal-footer>
          </c-modal>
        </form>
    
    </c-tab-pane>
    <c-tab-pane class="p-3">
        <div class="animated fadeIn">
          <div class="row">
           <div class="col-lg-12">
             <div class="card" >
               <div class="card-header"><i class="fa fa-align-justify" ></i> 
                 <strong>Action Plan List</strong>
               </div>
               <div class="card-body" >
                <div class="row overflow-auto">
                  <table class="table table-bordered row-border hover datatableStyle">
                    <thead >
                      <tr>
                        <th>SL</th>
                        <th>Action Plan ID</th>
                        <th>Management Action Plan</th>
                        <th>Action Owner</th>
                        <th>Action Target Date</th>
                        <th>Evidence</th>
                        <th>Remarks</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="actionPlans?.length != 0">
                      <tr *ngFor="let row of actionPlans; let i = index">
                        
                        <td>{{i+1}} </td>
                        <td>{{row.actionPlanCode}} </td>
                        <td>{{row.managementPlan}}</td>
                        <td>{{row.issueActionPlanOwners}}</td>
                        <td>{{row.targetDate | date: 'yyyy-MM-dd'}}</td>
                        <td>{{row.evidenceDocumentId}}</td>
                        <td>{{row.actionTakenRemarks}}</td>
                        <td class="text-center">
                          <div >
                            <!-- <svg cIcon [name]="cil-airplane-mode" [title]="cil-airplane-mode" size="3xl">gjhj</svg> -->
                            <button type="button" class="btn btn-secondary btnEditColor" [cModalToggle]="actionTakenModal.id" (click)="onClickActionTaken(row.id)">
                              Action Taken
                            </button>                            
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="actionPlans?.length == 0">
                      <tr>
                        <td colspan="5" class="no-data-available">No data!</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
               </div>
             </div>
           </div>
          </div>
        </div>
        <form [formGroup]="actionTakenForm" (ngSubmit)="onSubmitActionTaken(actionTakenModal)" novalidate>
          <c-modal #actionTakenModal alignment="center" id="actionTakenModal">
            <c-modal-header>
              <h5 cModalTitle>Action Taken</h5>
              <!-- <h5 cModalTitle *ngIf="!formService.isEdit(this.topicHeadForm.get('id'))">Create Topic Head</h5>
              <h5 cModalTitle *ngIf="formService.isEdit(this.topicHeadForm.get('id'))">Update Topic Head</h5> -->
              <button [cModalToggle]="actionTakenModal.id" cButtonClose></button>
            </c-modal-header>
            <c-modal-body>
              <div class="col-md-12" >
                <input type="hidden" formControlName="id"/>
                <div class="form-floating mb-3">
                  <input type="date" class="form-control" formControlName="actionTakenDate" id="actionTakenDate" placeholder="actionTakenDate">
                  <label for="floatingInput">Action Taken Date</label>
                  <div cRow *ngIf="actionTakenForm.get('actionTakenDate')?.invalid && actionTakenForm.get('actionTakenDate')?.errors &&
                        (actionTakenForm.get('actionTakenDate')?.dirty || actionTakenForm.get('actionTakenDate')?.touched)">
                    <small class="text-danger"
                        *ngIf="actionTakenForm.get('actionTakenDate').hasError('required')">
                        This field is required.
                    </small>                                       
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" formControlName="actionTakenRemarks" id="actionTakenRemarks" placeholder="actionTakenRemarks">
                  <label for="floatingInput">Remarks</label>
    
                  <div cRow *ngIf="actionTakenForm.get('actionTakenRemarks')?.invalid && actionTakenForm.get('actionTakenRemarks')?.errors &&
                        (actionTakenForm.get('actionTakenRemarks')?.dirty || actionTakenForm.get('actionTakenRemarks')?.touched)">
                    <small class="text-danger"
                        *ngIf="actionTakenForm.get('actionTakenRemarks').hasError('required')">
                        This field is required.
                    </small>
                    <small class="text-danger"
                        *ngIf="actionTakenForm.get('actionTakenRemarks').hasError('minlength')">
                        The minimum length for this field is {{actionTakenForm.get('actionTakenRemarks').errors.minlength.requiredLength}} characters.
                    </small>                    
                  </div>
                </div>
                <div>
                  <input type="file" class="form-control" formControlName="evidenceDocumentId" id="evidenceDocumentId" placeholder="evidenceDocumentId" (change)="onUploadDocument($event)">

                  <!-- <label for="evidenceDocumentId">Evidence</label>           -->
                  <div cRow *ngIf="actionTakenForm.get('evidenceDocumentId')?.invalid && actionTakenForm.get('evidenceDocumentId')?.errors &&
                            (actionTakenForm.get('evidenceDocumentId')?.dirty || actionTakenForm.get('evidenceDocumentId')?.touched)">
                    <small class="text-danger" *ngIf="actionTakenForm.get('evidenceDocumentId').hasError('required')">
                        This field is required.
                    </small>                        
                  </div>
                </div>
                
              </div>
            </c-modal-body>
            <c-modal-footer>
              <button cButton class="btn btn-primary btnSaveColor me-1" (click)="onSubmitActionTaken(actionTakenModal)">
                <svg cIcon name="cilSave" size="md" title="Save Button Icon"></svg> Save
              </button>
              <!-- <button [cModalToggle]="verticallyCenteredModal.id" cButton class="btn btn-danger btnCancelColor me-1">
                <svg cIcon name="cilX" size="md" title="Close Button Icon"></svg> Close
              </button> -->
            </c-modal-footer>
          </c-modal>
        </form>        
      </c-tab-pane>
</c-tab-content>
</c-card>
</c-col>