
<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify" ></i> Workpaper List
          </div>
          <div class="card-body">
            <form [formGroup]="searchForm">
              <div class="row" style="margin: 0 auto;">
                <div class="col-md-8 mb-2">
                  <!-- <button [cModalToggle]="verticallyCenteredModal.id" class="btnCreateColor" (click)="reset()" cButton>
                    <svg cIcon name="cilPlus" size="md" title="Add Button Icon"></svg> Create
                  </button>  -->
                </div>
                <div class="col-md-3 mb-2 form-floating">
                  <select aria-label="Floating label select example" cSelect id="topicHeadId"
                  formControlName="topicHeadId" name="topicHeadId"  style="height: 40px;">
                  <option value="">Select Topic Head</option>
                  <option *ngFor="let topicHead of topics" [value]="topicHead.name">
                    {{topicHead.name}}
                  </option>
                </select>
                  </div>


                <div class="col-md-1 mb-2">
                  <button type="button" class="btn btn-secondary mr-1 btn-block searchBtn" data-toggle="modal" (click)="search()" >
                    Search
                  </button>
                </div>
              </div>
           </form>
            <div class="row overflow-auto">
                <table datatable [dtOptions]="dtOptions" class="table table-bordered row-border hover datatableStyle" >
                  <thead>
                    <tr>
                      <th>Sample Name</th>
                      <th>Topic Head</th>
                      <th>Sample Month</th>
                      <th>Testing Conclusion</th>
                      <th class="col-1 text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="workpapers?.length != 0">
                    <tr *ngFor="let workpaper of workpapers">
                      <td>{{ workpaper.sampleName }}</td>
                      <td>{{ workpaper.topicHeadName }}</td>
                      <td>{{ workpaper.sampleMonth }}</td>
                      <td>{{ workpaper.testingConclusion }}</td>
                      <td class="text-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <!-- <button type="button" class="btn btn-secondary btnEditColor"  [routerLink]="['/branch-audit/workpaper',workpaper.id]"> -->
                          <button type="button" class="btn btn-secondary btnEditColor" (click) = "edit(workpaper.id)">
                            <svg cIcon name="cilPencil" size="md" title="Edit Button icon"></svg>
                          </button>
                          <button type="button" class="btn btn-danger btnDeleteColor" (click)="delete(workpaper.id)">                          
                            <svg cIcon name="cilTrash" size="md" title="Delete Button Icon"></svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="workpapers?.length == 0">
                    <tr>
                      <td colspan="5" class="no-data-available">No data!</td>
                    </tr>
                  </tbody>
                </table>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  