<c-nav variant="tabs">
    <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink>Issue</a>
    <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>Action Plan</a>
  </c-nav>

<c-col xs="12">
<c-card class="mb-4"> 
  
  <c-tab-content #tabContent="cTabContent">
    <c-tab-pane class="p-3"> 
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <div class="fa fa-align-justify" >
                    <strong *ngIf="!formService.isEdit(this.issueForm.get('id'))">New Issue</strong>
                    <strong *ngIf="formService.isEdit(this.issueForm.get('id'))">Edit Issue</strong>
                </div> 
              </div>
              <div class="card-body">
               
                <form [formGroup]="issueForm" (ngSubmit)="onSubmitNewIssue()" novalidate>                
                    
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="code" id="code" placeholder="code">
                            <label for="floatingInput">Issue Id</label>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <!-- <textarea class="form-control" placeholder="Audit Id" formControlName="auditId" id="auditId"></textarea> -->
                            <input type="text" class="form-control" formControlName="auditId" id="auditId" placeholder="Audit Id">
                            <label for="floatingInput">Audit Id</label>
                        </div> 

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="issueTitle" id="issueTitle" placeholder="issueTitle" style="height: 70px;">
                            <label for="floatingInput">Issue Title</label>
                            <div cRow *ngIf="issueForm.get('issueTitle')?.invalid && issueForm.get('issueTitle')?.errors &&
                                            (issueForm.get('issueTitle')?.dirty || issueForm.get('issueTitle')?.touched)">
                              <small class="text-danger"
                                  *ngIf="issueForm.get('issueTitle').hasError('required')">
                                  This field is required.
                              </small>
                              <small class="text-danger"
                                  *ngIf="issueForm.get('issueTitle').hasError('minlength')">
                                  The minimum length for this field is {{issueForm.get('issueTitle').errors.minlength.requiredLength}} characters.
                              </small>
                              <small class="text-danger"
                                  *ngIf="issueForm.get('issueTitle').hasError('maxlength')">
                                  The maximum length for this field is {{issueForm.get('issueTitle').errors.maxlength.requiredLength}} characters.
                              </small>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                          <select aria-label="Floating label select example" cSelect id="auditScheduleId"
                            formControlName="auditScheduleId" name="auditScheduleId" style="height: 70px;">
                            <option value="null">Select Schedule</option>
                            <option *ngFor="let schedule of auditSchedules" [value]="schedule.id">
                              {{schedule.scheduleId}}
                            </option>
                          </select>
                          <label for="auditScheduleId" >Schedule</label>          
                          <div cRow *ngIf="((issueForm.get('auditScheduleId')?.invalid && issueForm.get('auditScheduleId')?.errors)) &&
                            (issueForm.get('auditScheduleId')?.dirty || issueForm.get('auditScheduleId')?.touched)">
                            <small class="text-danger">
                              This field is required.
                            </small>                                 
                          </div>
                        </div>
                        <!-- <div class="form-floating mb-3">
                            <textarea class="form-control" formControlName="description" id="description" placeholder="description"></textarea>
                            <label for="floatingInput">Branches</label>
                        </div>   -->
                        <!-- <div class="form-floating mb-3">
                            <textarea class="form-control" formControlName="description" id="description" placeholder="description"></textarea>
                            <label for="floatingInput">Issue Owner</label>
                        </div>   -->
                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" formControlName="policy" id="policy" placeholder="policy" style="height: 70px;">
                          <label for="floatingInput">Policy/ Guidelines/ SOPs Reference</label>
                          <div cRow *ngIf="issueForm.get('policy')?.invalid && issueForm.get('policy')?.errors &&
                                          (issueForm.get('policy')?.dirty || issueForm.get('policy')?.touched)">
                            <small class="text-danger"
                                *ngIf="issueForm.get('policy').hasError('required')">
                                This field is required.
                            </small>
                            <small class="text-danger"
                                *ngIf="issueForm.get('policy').hasError('minlength')">
                                The minimum length for this field is {{issueForm.get('policy').errors.minlength.requiredLength}} characters.
                            </small>
                            <small class="text-danger"
                                *ngIf="issueForm.get('policy').hasError('maxlength')">
                                The maximum length for this field is {{issueForm.get('policy').errors.maxlength.requiredLength}} characters.
                            </small>
                          </div>
                        </div>

                        <div class="form-floating mb-3">
                          <select aria-label="Floating label select example" cSelect id="impactTypeId"
                            formControlName="impactTypeId" name="impactTypeId" style="height: 70px;">
                            <option value="null">Select Impact</option>
                            <option *ngFor="let commonValueAndType of impactType" [value]="commonValueAndType.id">
                              {{commonValueAndType.text}}
                            </option>                  
                          </select>
                          <label for="impactTypeId" >Impact</label>          
                          <div cRow *ngIf="((issueForm.get('impactTypeId')?.invalid && issueForm.get('impactTypeId')?.errors)) &&
                            (issueForm.get('impactTypeId')?.dirty || issueForm.get('impactTypeId')?.touched)">
                            <small class="text-danger">
                              This field is required.
                            </small>                                 
                          </div>
                        </div>

                        <div class="form-floating mb-3">
                          <select aria-label="Floating label select example" cSelect id="likelihoodTypeId"
                            formControlName="likelihoodTypeId" name="likelihoodTypeId" style="height: 70px;">
                            <option value="null">Select Likelihood</option>
                            <option *ngFor="let commonValueAndType of likelihoodType" [value]="commonValueAndType.id">
                              {{commonValueAndType.text}}
                            </option>                  
                          </select>
                          <label for="likelihoodTypeId" >Likelihood</label>          
                          <div cRow *ngIf="((issueForm.get('likelihoodTypeId')?.invalid && issueForm.get('likelihoodTypeId')?.errors)) &&
                            (issueForm.get('likelihoodTypeId')?.dirty || issueForm.get('likelihoodTypeId')?.touched)">
                            <small class="text-danger">
                              This field is required.
                            </small>                                 
                          </div>
                        </div>                       

                        <!-- <div class="form-floating mb-3">
                            <textarea class="form-control" formControlName="description" id="description" placeholder="description"></textarea>
                            <label for="floatingInput">Rating</label>
                        </div>    -->
                        <div class="form-floating mb-3">
                          <input class="form-control" placeholder="targetDate" formControlName="targetDate" id="targetDate" type="date" >
                          <label for="floatingInput">Issue Target Date</label>

                          <div cRow *ngIf="issueForm.get('targetDate')?.invalid && issueForm.get('targetDate')?.errors &&
                                (issueForm.get('targetDate')?.dirty || issueForm.get('targetDate')?.touched)">
                            <small class="text-danger" *ngIf="issueForm.get('targetDate').hasError('required')">
                              This field is required.
                            </small>                                 
                          </div>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <textarea class="form-control" formControlName="details" id="details" placeholder="details" style="height: 70px;"></textarea>
                            <label for="floatingInput">Issue Details</label>
                            <div cRow *ngIf="issueForm.get('details')?.invalid && issueForm.get('details')?.errors &&
                                          (issueForm.get('details')?.dirty || issueForm.get('details')?.touched)">
                              <small class="text-danger"
                                  *ngIf="issueForm.get('details').hasError('required')">
                                  This field is required.
                              </small>
                              <small class="text-danger"
                                  *ngIf="issueForm.get('details').hasError('minlength')">
                                  The minimum length for this field is {{issueForm.get('details').errors.minlength.requiredLength}} characters.
                              </small>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea class="form-control" formControlName="rootCause" id="rootCause" placeholder="rootCause" style="height: 70px;"></textarea>
                            <label for="floatingInput">Root Cause</label>
                            <div cRow *ngIf="issueForm.get('rootCause')?.invalid && issueForm.get('rootCause')?.errors &&
                                          (issueForm.get('rootCause')?.dirty || issueForm.get('rootCause')?.touched)">
                              <small class="text-danger"
                                  *ngIf="issueForm.get('rootCause').hasError('required')">
                                  This field is required.
                              </small>
                              <small class="text-danger"
                                  *ngIf="issueForm.get('rootCause').hasError('minlength')">
                                  The minimum length for this field is {{issueForm.get('rootCause').errors.minlength.requiredLength}} characters.
                              </small>
                            </div>
                        </div>  

                        <div class="form-floating mb-3">
                            <textarea class="form-control" formControlName="businessImpact" id="businessImpact" placeholder="businessImpact" style="height: 70px;"></textarea>
                            <label for="floatingInput">Potential Business Impact</label>
                            <div cRow *ngIf="issueForm.get('businessImpact')?.invalid && issueForm.get('businessImpact')?.errors &&
                                          (issueForm.get('businessImpact')?.dirty || issueForm.get('businessImpact')?.touched)">
                              <small class="text-danger"
                                  *ngIf="issueForm.get('businessImpact').hasError('required')">
                                  This field is required.
                              </small>
                              <small class="text-danger"
                                  *ngIf="issueForm.get('businessImpact').hasError('minlength')">
                                  The minimum length for this field is {{issueForm.get('businessImpact').errors.minlength.requiredLength}} characters.
                              </small>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea class="form-control" formControlName="potentialRisk" id="potentialRisk" placeholder="potentialRisk" style="height: 70px;"></textarea>
                            <label for="floatingInput">Potential Risk</label>
                            <div cRow *ngIf="issueForm.get('potentialRisk')?.invalid && issueForm.get('potentialRisk')?.errors &&
                                          (issueForm.get('potentialRisk')?.dirty || issueForm.get('potentialRisk')?.touched)">
                              <small class="text-danger"
                                  *ngIf="issueForm.get('potentialRisk').hasError('required')">
                                  This field is required.
                              </small>
                              <small class="text-danger"
                                  *ngIf="issueForm.get('potentialRisk').hasError('minlength')">
                                  The minimum length for this field is {{issueForm.get('potentialRisk').errors.minlength.requiredLength}} characters.
                              </small>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea class="form-control" formControlName="auditorRecommendation" id="auditorRecommendation" placeholder="auditorRecommendation" style="height: 70px;"></textarea>
                            <label for="floatingInput">Auditors Recommendations</label>
                            <div cRow *ngIf="issueForm.get('auditorRecommendation')?.invalid && issueForm.get('auditorRecommendation')?.errors &&
                                          (issueForm.get('auditorRecommendation')?.dirty || issueForm.get('auditorRecommendation')?.touched)">
                              <small class="text-danger"
                                  *ngIf="issueForm.get('auditorRecommendation').hasError('required')">
                                  This field is required.
                              </small>
                              <small class="text-danger"
                                  *ngIf="issueForm.get('auditorRecommendation').hasError('minlength')">
                                  The minimum length for this field is {{issueForm.get('auditorRecommendation').errors.minlength.requiredLength}} characters.
                              </small>
                            </div>
                        </div> 
                        <div>
                          <button cButton class="btn btn-primary btnSaveColor me-1" (click)="onSubmitNewIssue()">
                            <svg cIcon name="cilSave" size="md" title="Save Button Icon"></svg> Continue
                          </button>
                          <button cButton class="btn btn-danger btnCancelColor me-1" (click)="onCancelNewIssue()">
                            <svg cIcon name="cilX" size="md" title="Close Button Icon"></svg> Cancel
                          </button>
                        </div>
                   
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </c-tab-pane>
    <c-tab-pane class="p-3">
      <div class="animated fadeIn">
        <div class="row">
         <div class="col-lg-12">
           <div class="card">
             <div class="card-header"><i class="fa fa-align-justify" ></i> 
               <strong>Action Plan List</strong>
             </div>
             <div class="card-body">
              <div class="row overflow-auto">
                <table class="table table-bordered row-border hover datatableStyle" >
                  <thead >
                    <tr>
                      <th>SL</th>
                      <th>Action Plan ID</th>
                      <th>Management Action Plan</th>
                      <th>Action Owner</th>
                      <th>Action Target Date</th>
                      <th class="col-1 text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="actionPlans?.length != 0">
                    <tr *ngFor="let row of actionPlans; let i = index">
                      <td> {{i+1}} </td>
                      <td> {{row.actionPlanCode}} </td>
                      <td><input type="text" class="form-control" id="managementPlan" placeholder="Management Action Plan"  name="{{row.managementPlan}}" #managementPlan [(ngModel)]="row.managementPlan"></td>
                      <td> <!--{{row.owner}} -->

                        <c-multi-select multiple class="form-control" [(ngModel)]="row.owner" name="{{row.owner}}" >
                          <c-multi-select-option *ngFor="let owner of userList" [value]="owner.id">{{owner.userName}}
                          </c-multi-select-option>
                        </c-multi-select>
                      </td>
                      <td> <input class="form-control" placeholder="targetDate"  type="date" #targetDate [(ngModel)]="row.targetDate" name="{{row.targetDate}}" ></td>
                      <td class="text-center">
                        <div class="btn-group" role="group" aria-label="Basic example" >
                          <!-- <svg cIcon [name]="cil-airplane-mode" [title]="cil-airplane-mode" size="3xl">gjhj</svg> -->
                          <button type="button" class="btn btn-secondary btnEditColor" (click)="addItem( managementPlan.value, targetDate)">
                            <svg cIcon name="cilPlus" size="md" title="Add Button icon"></svg>
                          </button>
                          <button type="button" class="btn btn-danger btnDeleteColor" (click)="removeItem(i)">
                            <svg cIcon name="cilTrash" size="md" title="Delete Button Icon"></svg>
                          </button>
                        </div>
                      </td>
                    </tr>                    
                  </tbody>
                  <tbody *ngIf="actionPlans?.length == 0">
                    <tr>
                      <td colspan="5" class="no-data-available">No data!</td>
                    </tr>
                  </tbody>
                </table>
                <div>
                  <button cButton class="btn btn-primary btnSaveColor me-1" (click)="onSubmitActionPlan()">
                    <svg cIcon name="cilSave" size="md" title="Save Button Icon"></svg> Save
                  </button>
                  <button cButton class="btn btn-danger btnCancelColor me-1" (click)="onCancelActionPlan()">
                    <svg cIcon name="cilX" size="md" title="Close Button Icon"></svg> Cancel
                  </button>
                </div>
                <div>{{actionPlans | json}}</div>

              </div>
             </div>
           </div>
         </div>
        </div>
      </div>
    </c-tab-pane>
  </c-tab-content>
</c-card>
</c-col>

<!-- 
      <div class="container">
                  
        <table class="table border">
      
          <tbody>
            <tr *ngFor="let row of groups; let i = index">
              <td> {{row.name}} </td>
              <td> {{row.items}} </td>
              <td> <button (click)="addItem(i)">Add</button> </td>
            </tr>
          </tbody>
        </table> -->